# Prelecture

In [3]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns

print(df)

     row_n        id      name  gender    species birthday personality  \
0        2   admiral   Admiral    male       bird     1-27      cranky
1        3   agent-s   Agent S  female   squirrel      7-2       peppy
2        4     agnes     Agnes  female        pig     4-21        uchi
3        6        al        Al    male    gorilla    10-18        lazy
4        7   alfonso   Alfonso    male  alligator      6-9        lazy
5        8     alice     Alice  female      koala     8-19      normal
6        9      alli      Alli  female  alligator     11-8      snooty
7       10    amelia    Amelia  female      eagle    11-19      snooty
8       11  anabelle  Anabelle  female   anteater     2-16       peppy
9       13   anchovy   Anchovy    male       bird      3-4        lazy
10      14     angus     Angus    male       bull     4-30      cranky
11      15  anicotti  Anicotti  female      mouse     2-24       peppy
12      16     ankha     Ankha  female        cat     9-22      snooty
13      17  annalisa  Annalisa  female   anteater      2-6      normal
14      18  annalise  Annalise  female      horse     12-2      snooty
15      19   antonio   Antonio    male   anteater    10-20        jock
16      20    apollo    Apollo    male      eagle      7-4      cranky
17      21     apple     Apple  female    hamster     9-24       peppy
18      22    astrid    Astrid  female   kangaroo      9-8      snooty
19      23     audie     Audie  female       wolf     8-31       peppy
20      24    aurora    Aurora  female    penguin     1-27      normal
21      25       ava       Ava  female    chicken     4-28      normal
22      26     avery     Avery    male      eagle     2-22      cranky
23      27      axel      Axel    male   elephant     3-23        jock
24      29   baabara   Baabara  female      sheep     3-28      snooty
25      30       bam       Bam    male       deer     11-7        jock
26      31    bangle    Bangle  female      tiger     8-27       peppy
27      32    barold    Barold    male        cub      3-2        lazy
28      33       bea       Bea  female        dog    10-15      normal
29      34    beardo    Beardo    male       bear     9-27        smug
30      35      beau      Beau    male       deer      4-5        lazy
31      36     becky     Becky  female    chicken     12-9      snooty
32      37     bella     Bella  female      mouse    12-28       peppy
33      39  benedict  Benedict    male    chicken    10-10        lazy
34      40  benjamin  Benjamin    male        dog      8-3        lazy
35      41    bertha    Bertha  female      hippo     4-25      normal
36      43   bettina   Bettina  female      mouse     6-12      normal
37      45    bianca    Bianca  female      tiger    12-13       peppy
38      46      biff      Biff    male      hippo     3-29        jock
39      47   big-top   Big Top    male   elephant     10-3        lazy
40      48      bill      Bill    male       duck      2-1        jock
41      49     billy     Billy    male       goat     3-25        jock
42      50    biskit    Biskit    male        dog     5-13        lazy
43      51     bitty     Bitty  female      hippo     10-6      snooty
44      52    blaire    Blaire  female   squirrel      7-3      snooty
45      53   blanche   Blanche  female    ostrich    12-21      snooty
46      55  bluebear  Bluebear  female        cub     6-24       peppy
47      56       bob       Bob    male        cat      1-1        lazy
48      57    bonbon    Bonbon  female     rabbit      3-3       peppy
49      58     bones     Bones    male        dog      8-4        lazy
50      59    boomer    Boomer    male    penguin      2-7        lazy
51      60     boone     Boone    male    gorilla     9-12        jock
52      61     boots     Boots    male  alligator      8-7        jock
53      62     boris     Boris    male        pig     11-6      cranky
54      64      boyd      Boyd    male    gorilla     10-1      cranky
55      65      bree      Bree  female      mouse      7-7      snooty
56      66  broccolo  Broccolo    male      mouse     6-30        lazy
57      67  broffina  Broffina  female    chicken    10-24      snooty
58      68     bruce     Bruce    male       deer     5-26      cranky
59      69   bubbles   Bubbles  female      hippo     9-18       peppy
60      70      buck      Buck    male      horse      4-4        jock
61      71       bud       Bud    male       lion      8-8        jock
62      72    bunnie    Bunnie  female     rabbit      5-9       peppy
63      73     butch     Butch    male        dog     11-1      cranky
64      74      buzz      Buzz    male      eagle     12-7      cranky
65      75     cally     Cally  female   squirrel      9-4      normal
66      76  camofrog  Camofrog    male       frog      6-5      cranky
67      77  canberra  Canberra  female      koala     5-14        uchi
68      78     candi     Candi  female      mouse     4-13       peppy
69      80   carmen2    Carmen  female     rabbit      1-6       peppy
70      81  caroline  Caroline  female   squirrel     7-15      normal
71      82    carrie    Carrie  female   kangaroo     12-5      normal
72      84  cashmere  Cashmere  female      sheep      4-2      snooty
73      86     celia     Celia  female      eagle     3-25      normal
74      87     cesar     Cesar    male    gorilla      9-6      cranky
75      88   chadder   Chadder    male      mouse    12-15        smug
76      92  charlise  Charlise  female       bear     4-17        uchi
77      94     cheri     Cheri  female        cub     3-17       peppy
78      95    cherry    Cherry  female        dog     5-11        uchi
79      96   chester   Chester    male        cub      8-6        lazy
80      97    chevre    Chevre  female       goat      3-6      normal
81      99     chief     Chief    male       wolf    12-19      cranky
82     100     chops     Chops    male        pig    10-13        smug
83     101      chow      Chow    male       bear     7-22      cranky
84     102   chrissy   Chrissy  female     rabbit     8-28       peppy
85     105    claude    Claude    male     rabbit     12-3        lazy
86     106   claudia   Claudia  female      tiger    11-22      snooty
87     107      clay      Clay    male    hamster    10-19        lazy
88     108      cleo      Cleo  female      horse      2-9      snooty
89     109     clyde     Clyde    male      horse      5-1        lazy
90     110     coach     Coach    male       bull     4-29        jock
91     111      cobb      Cobb    male        pig     10-7        jock
92     112      coco      Coco  female     rabbit      3-1      normal
93     113      cole      Cole    male     rabbit     8-10        lazy
94     114    colton    Colton    male      horse     5-22        smug
95     115    cookie    Cookie  female        dog     6-18       peppy
96     116  cousteau  Cousteau    male       frog    12-17        jock
97     117  cranston  Cranston    male    ostrich     9-23        lazy
98     118    croque    Croque    male       frog     7-18      cranky
99     119      cube      Cube    male    penguin     1-29        lazy
100    121    curlos    Curlos    male      sheep      5-8        smug
101    122     curly     Curly    male        pig     7-26        jock
102    123      curt      Curt    male       bear      7-1      cranky
103    124       cyd       Cyd    male   elephant      6-9      cranky
104    125    cyrano    Cyrano    male   anteater      3-9      cranky
105    126     daisy     Daisy  female        dog    11-16      normal
106    127     deena     Deena  female       duck     6-27      normal
107    128   deirdre   Deirdre  female       deer      5-4        uchi
108    129       del       Del    male  alligator     5-27      cranky
109    130      deli      Deli    male     monkey     5-24        lazy
110    131    derwin    Derwin    male       duck     5-25        lazy
111    132     diana     Diana  female       deer      1-4      snooty
112    133      diva      Diva  female       frog     10-2        uchi
113    134     dizzy     Dizzy    male   elephant     7-14        lazy
114    135     dobie     Dobie    male       wolf     2-17      cranky
115    136       doc       Doc    male     rabbit     3-16        lazy
116    137       dom       Dom    male      sheep     3-18        jock
117    138      dora      Dora  female      mouse     2-18      normal
118    139     dotty     Dotty  female     rabbit     3-14       peppy
119    141     drago     Drago    male  alligator     2-12        lazy
120    142     drake     Drake    male       duck     6-25        lazy
121    143     drift     Drift    male       frog     10-9        jock
122    144        ed        Ed    male      horse     9-16        smug
123    145    egbert    Egbert    male    chicken    10-14        lazy
124    147     elise     Elise  female     monkey     3-21      snooty
125    148     ellie     Ellie  female   elephant     5-12      normal
126    149     elmer     Elmer    male      horse     10-5        lazy
127    150    eloise    Eloise  female   elephant     12-8      snooty
128    151     elvis     Elvis    male       lion     7-23      cranky
129    154      erik      Erik    male       deer     7-27        lazy
130    156    eugene    Eugene    male      koala    10-26        smug
131    157    eunice    Eunice  female      sheep      4-3      normal
132    159      fang      Fang    male       wolf    12-18      cranky
133    160     fauna     Fauna  female       deer     3-26      normal
134    161  felicity  Felicity  female        cat     3-30       peppy
135    163   filbert   Filbert    male   squirrel      6-3        lazy
136    166      flip      Flip    male     monkey    11-21        jock
137    167       flo       Flo  female    penguin      9-2        uchi
138    168     flora     Flora  female    ostrich      2-9       peppy
139    170    flurry    Flurry  female    hamster     1-30      normal
140    171  francine  Francine  female     rabbit     1-22      snooty
141    172     frank     Frank    male      eagle     7-30      cranky
142    173  freckles  Freckles  female       duck     2-19       peppy
143    174     freya     Freya  female       wolf    12-14      snooty
144    175     friga     Friga  female    penguin    10-16      snooty
145    176     frita     Frita  female      sheep     7-16        uchi
146    177   frobert   Frobert    male       frog      2-8        jock
147    179   fuchsia   Fuchsia  female       deer     9-19        uchi
148    180      gabi      Gabi  female     rabbit    12-16       peppy
149    181      gala      Gala  female        pig      3-5      normal
150    183    gaston    Gaston    male     rabbit    10-28      cranky
151    184     gayle     Gayle  female  alligator     5-17      normal
152    186     genji     Genji    male     rabbit     1-21        jock
153    187      gigi      Gigi  female       frog     8-11      snooty
154    188    gladys    Gladys  female    ostrich     1-15      normal
155    189    gloria    Gloria  female       duck     8-12      snooty
156    190    goldie    Goldie  female        dog    12-27      normal
157    191     gonzo     Gonzo    male      koala    10-13      cranky
158    192     goose     Goose    male    chicken     10-4        jock
159    193    graham    Graham    male    hamster     6-20        smug
160    194     greta     Greta  female      mouse      9-5      snooty
161    195   grizzly   Grizzly    male       bear     7-31      cranky
162    196   groucho   Groucho    male       bear    10-23      cranky
163    197     gruff     Gruff    male       goat     8-29      cranky
164    198      gwen      Gwen  female    penguin     1-23      snooty
165    200    hamlet    Hamlet    male    hamster     5-30        jock
166    201  hamphrey  Hamphrey    male    hamster     2-25      cranky
167    203      hans      Hans    male    gorilla     12-5        smug
168    204     harry     Harry    male      hippo      1-7      cranky
169    206    hazel2     Hazel  female   squirrel     8-30        uchi
170    208     henry     Henry    male       frog     9-21        smug
171    209   hippeux   Hippeux    male      hippo    10-15        smug
172    211   hopkins   Hopkins    male     rabbit     3-11        lazy
173    212    hopper    Hopper    male    penguin      4-6      cranky
174    213   hornsby   Hornsby    male      rhino     3-20        lazy
175    214      huck      Huck    male       frog      7-9        smug
176    216      hugh      Hugh    male        pig    12-30        lazy
177    217     iggly     Iggly    male    penguin     11-2        jock
178    219       ike       Ike    male       bear     5-16      cranky
179    221     jacob     Jacob    male       bird     8-24        lazy
180    222   jacques   Jacques    male       bird     6-22        smug
181    223  jambette  Jambette  female       frog    10-27      normal
182    225       jay       Jay    male       bird     7-17        jock
183    226  jeremiah  Jeremiah    male       frog      7-8        lazy
184    227   jitters   Jitters    male       bird      2-2        jock
185    229      joey      Joey    male       duck      1-3        lazy
186    231      judy      Judy  female        cub     3-10      snooty
187    232     julia     Julia  female    ostrich     7-31      snooty
188    233    julian    Julian    male      horse     3-15        smug
189    234      june      June  female        cub     5-21      normal
190    235    kabuki    Kabuki    male        cat    11-29      cranky
191    236      katt      Katt  female        cat     4-27        uchi
192    237    keaton    Keaton    male      eagle      6-1        smug
193    238       ken       Ken    male    chicken    12-23        smug
194    239   ketchup   Ketchup  female       duck     7-27       peppy
195    240     kevin     Kevin    male        pig     4-26        jock
196    241   kid-cat   Kid Cat    male        cat      8-1        jock
197    242      kidd      Kidd    male       goat     6-28        smug
198    243      kiki      Kiki  female        cat     10-8      normal
199    245      kitt      Kitt  female   kangaroo    10-11      normal
200    246     kitty     Kitty  female        cat     2-15      snooty
201    247     klaus     Klaus    male       bear     3-31        smug
202    248      knox      Knox    male    chicken    11-23      cranky
203    249      kody      Kody    male        cub     9-28        jock
204    251      kyle      Kyle    male       wolf     12-6        smug
205    253  leonardo  Leonardo    male      tiger     5-15        jock
206    254   leopold   Leopold    male       lion     8-14        smug
207    255      lily      Lily  female       frog      2-4      normal
208    256   limberg   Limberg    male      mouse    10-17      cranky
209    257    lionel    Lionel    male       lion     7-29        smug
210    259      lobo      Lobo    male       wolf     11-5      cranky
211    260     lolly     Lolly  female        cat     3-27      normal
212    261     lopez     Lopez    male       deer     8-20        smug
213    262     louie     Louie    male    gorilla     3-26        jock
214    263     lucha     Lucha    male       bird    12-12        smug
215    264     lucky     Lucky    male        dog     11-4        lazy
216    265      lucy      Lucy  female        pig      6-2      normal
217    268     lyman     Lyman    male      koala    10-12        jock
218    269       mac       Mac    male        dog    11-11        jock
219    271    maddie    Maddie  female        dog     1-11       peppy
220    272    maelle    Maelle  female       duck      4-8      snooty
221    273    maggie    Maggie  female        pig      9-3      normal
222    274   mallary   Mallary  female       duck    11-17      snooty
223    275     maple     Maple  female        cub     6-15      normal
224    276    marcel    Marcel    male        dog    12-31        lazy
225    277    marcie    Marcie  female   kangaroo     5-31      normal
226    279    margie    Margie  female   elephant     1-28      normal
227    280    marina    Marina  female    octopus     6-26      normal
228    281   marshal   Marshal    male   squirrel     9-29        smug
229    284  mathilda  Mathilda  female   kangaroo    11-12      snooty
230    286     megan     Megan  female       bear     3-13      normal
231    288     melba     Melba  female      koala     4-12      normal
232    290  merengue  Merengue  female      rhino     3-19      normal
233    291     merry     Merry  female        cat     6-29       peppy
234    292     midge     Midge  female       bird     3-12      normal
235    293      mint      Mint  female   squirrel      5-2      snooty
236    294      mira      Mira  female     rabbit      7-6        uchi
237    295   miranda   Miranda  female       duck     4-23      snooty
238    296     mitzi     Mitzi  female        cat     9-25      normal
239    297       moe       Moe    male        cat     1-12        lazy
240    298     molly     Molly  female       duck      3-7      normal
241    299   monique   Monique  female        cat     9-30      snooty
242    300     monty     Monty    male     monkey     12-7      cranky
243    301     moose     Moose    male      mouse     9-13        jock
244    302      mott      Mott    male       lion     7-10        jock
245    303     muffy     Muffy  female      sheep     2-14        uchi
246    304    murphy    Murphy    male        cub    12-29      cranky
247    305       NaN       Nan  female       goat     8-24      normal
248    306      nana      Nana  female     monkey     8-23      normal
249    307     naomi     Naomi  female        cow     2-28      snooty
250    308      nate      Nate    male       bear     8-16        lazy
251    309   nibbles   Nibbles  female   squirrel     7-19       peppy
252    312     norma     Norma  female        cow     9-20      normal
253    314  octavian  Octavian    male    octopus     9-20      cranky
254    315     ohare    O'Hare    male     rabbit     7-24        smug
255    316      olaf      Olaf    male   anteater     5-19        smug
256    317     olive     Olive  female        cub     7-12      normal
257    318    olivia    Olivia  female        cat      2-3      snooty
258    319      opal      Opal  female   elephant     1-20      snooty
259    322     ozzie     Ozzie    male      koala      5-7        lazy
260    323  pancetti  Pancetti  female        pig    11-14      snooty
261    324     pango     Pango  female   anteater     11-9       peppy
262    325     paolo     Paolo    male   elephant      5-5        lazy
263    326      papi      Papi    male      horse     1-10        lazy
264    327  pashmina  Pashmina  female       goat    12-26        uchi
265    328      pate      Pate  female       duck     2-23       peppy
266    330     patty     Patty  female        cow     5-10       peppy
267    331     paula     Paula  female       bear     3-22        uchi
268    332   peaches   Peaches  female      horse    11-28      normal
269    333    peanut    Peanut  female   squirrel      6-8       peppy
270    334     pecan     Pecan  female   squirrel     9-10      snooty
271    335      peck      Peck    male       bird     7-25        jock
272    336    peewee    Peewee    male    gorilla     9-11      cranky
273    337     peggy     Peggy  female        pig     5-23       peppy
274    338     pekoe     Pekoe  female        cub     5-18      normal
275    339  penelope  Penelope  female      mouse      2-5       peppy
276    343      phil      Phil    male    ostrich    11-27        smug
277    344    phoebe    Phoebe  female    ostrich     4-22        uchi
278    345    pierce    Pierce    male      eagle      1-8        jock
279    347    pietro    Pietro    male      sheep     4-19        smug

1. Import the datatable and show it

In [4]:
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

1. Show the missing values in the dataset

In [5]:
df.shape

(391, 11)

2-1. Number of rows, Number of columns

2-2.

Observations: contain the data for each individual in a data set (ex: each row represents an observation)

Variables: the properties for each observation (ex: name, gender)

In [6]:
df.describe()

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

3. Generates summary like above, only works for numeric data types

In [7]:
df.describe(include = 'object')

,id,name,gender,species,birthday,personality,song,phrase,full_id,url
count,390,391,391,391,391,391,380,391,391,391
unique,390,391,2,35,361,8,92,388,391,391
top,admiral,Admiral,male,cat,1-27,lazy,K.K. Country,wee one,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
freq,1,1,204,23,2,60,10,2,1,1

3. Provides summary including non-numeric columns, non-null values, unique values

In [8]:
df['species'].value_counts()

species
cat          23
rabbit       20
frog         18
squirrel     18
duck         17
dog          16
cub          16
pig          15
bear         15
mouse        15
horse        15
bird         13
penguin      13
sheep        13
elephant     11
wolf         11
ostrich      10
deer         10
eagle         9
gorilla       9
chicken       9
koala         9
goat          8
hamster       8
kangaroo      8
monkey        8
anteater      7
hippo         7
tiger         7
alligator     7
lion          7
bull          6
rhino         6
cow           4
octopus       3
Name: count, dtype: int64

3. To get the frequency of unique values for a particular column

In [9]:
print(df.describe())

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

3. In jupyterhub, it will automatically display the result in a nicely formatted table without typing print()

4. My dataset has no missing values in numeric variables, so downloading another data below

In [10]:
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
sb = pd.read_csv(url)

pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns

print(sb)

     survived  pclass     sex    age  sibsp  parch      fare embarked   class  \
0           0       3    male  22.00      1      0    7.2500        S   Third
1           1       1  female  38.00      1      0   71.2833        C   First
2           1       3  female  26.00      0      0    7.9250        S   Third
3           1       1  female  35.00      1      0   53.1000        S   First
4           0       3    male  35.00      0      0    8.0500        S   Third
5           0       3    male    NaN      0      0    8.4583        Q   Third
6           0       1    male  54.00      0      0   51.8625        S   First
7           0       3    male   2.00      3      1   21.0750        S   Third
8           1       3  female  27.00      0      2   11.1333        S   Third
9           1       2  female  14.00      1      0   30.0708        C  Second
10          1       3  female   4.00      1      1   16.7000        S   Third
11          1       1  female  58.00      0      0   26.5500        S   First
12          0       3    male  20.00      0      0    8.0500        S   Third
13          0       3    male  39.00      1      5   31.2750        S   Third
14          0       3  female  14.00      0      0    7.8542        S   Third
15          1       2  female  55.00      0      0   16.0000        S  Second
16          0       3    male   2.00      4      1   29.1250        Q   Third
17          1       2    male    NaN      0      0   13.0000        S  Second
18          0       3  female  31.00      1      0   18.0000        S   Third
19          1       3  female    NaN      0      0    7.2250        C   Third
20          0       2    male  35.00      0      0   26.0000        S  Second
21          1       2    male  34.00      0      0   13.0000        S  Second
22          1       3  female  15.00      0      0    8.0292        Q   Third
23          1       1    male  28.00      0      0   35.5000        S   First
24          0       3  female   8.00      3      1   21.0750        S   Third
25          1       3  female  38.00      1      5   31.3875        S   Third
26          0       3    male    NaN      0      0    7.2250        C   Third
27          0       1    male  19.00      3      2  263.0000        S   First
28          1       3  female    NaN      0      0    7.8792        Q   Third
29          0       3    male    NaN      0      0    7.8958        S   Third
30          0       1    male  40.00      0      0   27.7208        C   First
31          1       1  female    NaN      1      0  146.5208        C   First
32          1       3  female    NaN      0      0    7.7500        Q   Third
33          0       2    male  66.00      0      0   10.5000        S  Second
34          0       1    male  28.00      1      0   82.1708        C   First
35          0       1    male  42.00      1      0   52.0000        S   First
36          1       3    male    NaN      0      0    7.2292        C   Third
37          0       3    male  21.00      0      0    8.0500        S   Third
38          0       3  female  18.00      2      0   18.0000        S   Third
39          1       3  female  14.00      1      0   11.2417        C   Third
40          0       3  female  40.00      1      0    9.4750        S   Third
41          0       2  female  27.00      1      0   21.0000        S  Second
42          0       3    male    NaN      0      0    7.8958        C   Third
43          1       2  female   3.00      1      2   41.5792        C  Second
44          1       3  female  19.00      0      0    7.8792        Q   Third
45          0       3    male    NaN      0      0    8.0500        S   Third
46          0       3    male    NaN      1      0   15.5000        Q   Third
47          1       3  female    NaN      0      0    7.7500        Q   Third
48          0       3    male    NaN      2      0   21.6792        C   Third
49          0       3  female  18.00      1      0   17.8000        S   Third
50          0       3    male   7.00      4      1   39.6875        S   Third
51          0       3    male  21.00      0      0    7.8000        S   Third
52          1       1  female  49.00      1      0   76.7292        C   First
53          1       2  female  29.00      1      0   26.0000        S  Second
54          0       1    male  65.00      0      1   61.9792        C   First
55          1       1    male    NaN      0      0   35.5000        S   First
56          1       2  female  21.00      0      0   10.5000        S  Second
57          0       3    male  28.50      0      0    7.2292        C   Third
58          1       2  female   5.00      1      2   27.7500        S  Second
59          0       3    male  11.00      5      2   46.9000        S   Third
60          0       3    male  22.00      0      0    7.2292        C   Third
61          1       1  female  38.00      0      0   80.0000      NaN   First
62          0       1    male  45.00      1      0   83.4750        S   First
63          0       3    male   4.00      3      2   27.9000        S   Third
64          0       1    male    NaN      0      0   27.7208        C   First
65          1       3    male    NaN      1      1   15.2458        C   Third
66          1       2  female  29.00      0      0   10.5000        S  Second
67          0       3    male  19.00      0      0    8.1583        S   Third
68          1       3  female  17.00      4      2    7.9250        S   Third
69          0       3    male  26.00      2      0    8.6625        S   Third
70          0       2    male  32.00      0      0   10.5000        S  Second
71          0       3  female  16.00      5      2   46.9000        S   Third
72          0       2    male  21.00      0      0   73.5000        S  Second
73          0       3    male  26.00      1      0   14.4542        C   Third
74          1       3    male  32.00      0      0   56.4958        S   Third
75          0       3    male  25.00      0      0    7.6500        S   Third
76          0       3    male    NaN      0      0    7.8958        S   Third
77          0       3    male    NaN      0      0    8.0500        S   Third
78          1       2    male   0.83      0      2   29.0000        S  Second
79          1       3  female  30.00      0      0   12.4750        S   Third
80          0       3    male  22.00      0      0    9.0000        S   Third
81          1       3    male  29.00      0      0    9.5000        S   Third
82          1       3  female    NaN      0      0    7.7875        Q   Third
83          0       1    male  28.00      0      0   47.1000        S   First
84          1       2  female  17.00      0      0   10.5000        S  Second
85          1       3  female  33.00      3      0   15.8500        S   Third
86          0       3    male  16.00      1      3   34.3750        S   Third
87          0       3    male    NaN      0      0    8.0500        S   Third
88          1       1  female  23.00      3      2  263.0000        S   First
89          0       3    male  24.00      0      0    8.0500        S   Third
90          0       3    male  29.00      0      0    8.0500        S   Third
91          0       3    male  20.00      0      0    7.8542        S   Third
92          0       1    male  46.00      1      0   61.1750        S   First
93          0       3    male  26.00      1      2   20.5750        S   Third
94          0       3    male  59.00      0      0    7.2500        S   Third
95          0       3    male    NaN      0      0    8.0500        S   Third
96          0       1    male  71.00      0      0   34.6542        C   First
97          1       1    male  23.00      0      1   63.3583        C   First
98          1       2  female  34.00      0      1   23.0000        S  Second
99          0       2    male  34.00      1      0   26.0000        S  Second
100         0       3  female  28.00      0      0    7.8958        S   Third
101         0       3    male    NaN      0      0    7.8958        S   Third
102         0       1    male  21.00      0      1   77.2875        S   First
103         0       3    male  33.00      0      0    8.6542        S   Third
104         0       3    male  37.00      2      0    7.9250        S   Third
105         0       3    male  28.00      0      0    7.8958        S   Third
106         1       3  female  21.00      0      0    7.6500        S   Third
107         1       3    male    NaN      0      0    7.7750        S   Third
108         0       3    male  38.00      0      0    7.8958        S   Third
109         1       3  female    NaN      1      0   24.1500        Q   Third
110         0       1    male  47.00      0      0   52.0000        S   First
111         0       3  female  14.50      1      0   14.4542        C   Third
112         0       3    male  22.00      0      0    8.0500        S   Third
113         0       3  female  20.00      1      0    9.8250        S   Third
114         0       3  female  17.00      0      0   14.4583        C   Third
115         0       3    male  21.00      0      0    7.9250        S   Third
116         0       3    male  70.50      0      0    7.7500        Q   Third
117         0       2    male  29.00      1      0   21.0000        S  Second
118         0       1    male  24.00      0      1  247.5208        C   First
119         0       3  female   2.00      4      2   31.2750        S   Third
120         0       2    male  21.00      2      0   73.5000        S  Second
121         0       3    male    NaN      0      0    8.0500        S   Third
122         0       2    male  32.50      1      0   30.0708        C  Second
123         1       2  female  32.50      0      0   13.0000        S  Second
124         0       1    male  54.00      0      1   77.2875        S   First
125         1       3    male  12.00      1      0   11.2417        C   Third
126         0       3    male    NaN      0      0    7.7500        Q   Third
127         1       3    male  24.00      0      0    7.1417        S   Third
128         1       3  female    NaN      1      1   22.3583        C   Third
129         0       3    male  45.00      0      0    6.9750        S   Third
130         0       3    male  33.00      0      0    7.8958        C   Third
131         0       3    male  20.00      0      0    7.0500        S   Third
132         0       3  female  47.00      1      0   14.5000        S   Third
133         1       2  female  29.00      1      0   26.0000        S  Second
134         0       2    male  25.00      0      0   13.0000        S  Second
135         0       2    male  23.00      0      0   15.0458        C  Second
136         1       1  female  19.00      0      2   26.2833        S   First
137         0       1    male  37.00      1      0   53.1000        S   First
138         0       3    male  16.00      0      0    9.2167        S   Third
139         0       1    male  24.00      0      0   79.2000        C   First
140         0       3  female    NaN      0      2   15.2458        C   Third
141         1       3  female  22.00      0      0    7.7500        S   Third
142         1       3  female  24.00      1      0   15.8500        S   Third
143         0       3    male  19.00      0      0    6.7500        Q   Third
144         0       2    male  18.00      0      0   11.5000        S  Second
145         0       2    male  19.00      1      1   36.7500        S  Second
146         1       3    male  27.00      0      0    7.7958        S   Third
147         0       3  female   9.00      2      2   34.3750        S   Third
148         0       2    male  36.50      0      2   26.0000        S  Second
149         0       2    male  42.00      0      0   13.0000        S  Second
150         0       2    male  51.00      0      0   12.5250        S  Second
151         1       1  female  22.00      1      0   66.6000        S   First
152         0       3    male  55.50      0      0    8.0500        S   Third
153         0       3    male  40.50      0      2   14.5000        S   Third
154         0       3    male    NaN      0      0    7.3125        S   Third
155         0       1    male  51.00      0      1   61.3792        C   First
156         1       3  female  16.00      0      0    7.7333        Q   Third
157         0       3    male  30.00      0      0    8.0500        S   Third
158         0       3    male    NaN      0      0    8.6625        S   Third
159         0       3    male    NaN      8      2   69.5500        S   Third
160         0       3    male  44.00      0      1   16.1000        S   Third
161         1       2  female  40.00      0      0   15.7500        S  Second
162         0       3    male  26.00      0      0    7.7750        S   Third
163         0       3    male  17.00      0      0    8.6625        S   Third
164         0       3    male   1.00      4      1   39.6875        S   Third
165         1       3    male   9.00      0      2   20.5250        S   Third
166         1       1  female    NaN      0      1   55.0000        S   First
167         0       3  female  45.00      1      4   27.9000        S   Third
168         0       1    male    NaN      0      0   25.9250        S   First
169         0       3    male  28.00      0      0   56.4958        S   Third
170         0       1    male  61.00      0      0   33.5000        S   First
171         0       3    male   4.00      4      1   29.1250        Q   Third
172         1       3  female   1.00      1      1   11.1333        S   Third
173         0       3    male  21.00      0      0    7.9250        S   Third
174         0       1    male  56.00      0      0   30.6958        C   First
175         0       3    male  18.00      1      1    7.8542        S   Third
176         0       3    male    NaN      3      1   25.4667        S   Third
177         0       1  female  50.00      0      0   28.7125        C   First
178         0       2    male  30.00      0      0   13.0000        S  Second
179         0       3    male  36.00      0      0    0.0000        S   Third
180         0       3  female    NaN      8      2   69.5500        S   Third
181         0       2    male    NaN      0      0   15.0500        C  Second
182         0       3    male   9.00      4      2   31.3875        S   Third
183         1       2    male   1.00      2      1   39.0000        S  Second
184         1       3  female   4.00      0      2   22.0250        S   Third
185         0       1    male    NaN      0      0   50.0000        S   First
186         1       3  female    NaN      1      0   15.5000        Q   Third
187         1       1    male  45.00      0      0   26.5500        S   First
188         0       3    male  40.00      1      1   15.5000        Q   Third
189         0       3    male  36.00      0      0    7.8958        S   Third
190         1       2  female  32.00      0      0   13.0000        S  Second
191         0       2    male  19.00      0      0   13.0000        S  Second
192         1       3  female  19.00      1      0    7.8542        S   Third
193         1       2    male   3.00      1      1   26.0000        S  Second
194         1       1  female  44.00      0      0   27.7208        C   First
195         1       1  female  58.00      0      0  146.5208        C   First
196         0       3    male    NaN      0      0    7.7500        Q   Third
197         0       3    male  42.00      0      1    8.4042        S   Third
198         1       3  female    NaN      0      0    7.7500        Q   Third
199         0       2  female  24.00      0      0   13.0000        S  Second
200         0       3    male  28.00      0      0    9.5000        S   Third
201         0       3    male    NaN      8      2   69.5500        S   Third
202         0       3    male  34.00      0      0    6.4958        S   Third
203         0       3    male  45.50      0      0    7.2250        C   Third
204         1       3    male  18.00      0      0    8.0500        S   Third
205         0       3  female   2.00      0      1   10.4625        S   Third
206         0       3    male  32.00      1      0   15.8500        S   Third
207         1       3    male  26.00      0      0   18.7875        C   Third
208         1       3  female  16.00      0      0    7.7500        Q   Third
209         1       1    male  40.00      0      0   31.0000        C   First
210         0       3    male  24.00      0      0    7.0500        S   Third
211         1       2  female  35.00      0      0   21.0000        S  Second
212         0       3    male  22.00      0      0    7.2500        S   Third
213         0       2    male  30.00      0      0   13.0000        S  Second
214         0       3    male    NaN      1      0    7.7500        Q   Third
215         1       1  female  31.00      1      0  113.2750        C   First
216         1       3  female  27.00      0      0    7.9250        S   Third
217         0       2    male  42.00      1      0   27.0000        S  Second
218         1       1  female  32.00      0      0   76.2917        C   First
219         0       2    male  30.00      0      0   10.5000        S  Second
220         1       3    male  16.00      0      0    8.0500        S   Third
221         0       2    male  27.00      0      0   13.0000        S  Second
222         0       3    male  51.00      0      0    8.0500        S   Third
223         0       3    male    NaN      0      0    7.8958        S   Third
224         1       1    male  38.00      1      0   90.0000        S   First
225         0       3    male  22.00      0      0    9.3500        S   Third
226         1       2    male  19.00      0      0   10.5000        S  Second
227         0       3    male  20.50      0      0    7.2500        S   Third
228         0       2    male  18.00      0      0   13.0000        S  Second
229         0       3  female    NaN      3      1   25.4667        S   Third
230         1       1  female  35.00      1      0   83.4750        S   First
231         0       3    male  29.00      0      0    7.7750        S   Third
232         0       2    male  59.00      0      0   13.5000        S  Second
233         1       3  female   5.00      4      2   31.3875        S   Third
234         0       2    male  24.00      0      0   10.5000        S  Second
235         0       3  female    NaN      0      0    7.5500        S   Third
236         0       2    male  44.00      1      0   26.0000        S  Second
237         1       2  female   8.00      0      2   26.2500        S  Second
238         0       2    male  19.00      0      0   10.5000        S  Second
239         0       2    male  33.00      0      0   12.2750        S  Second
240         0       3  female    NaN      1      0   14.4542        C   Third
241         1       3  female    NaN      1      0   15.5000        Q   Third
242         0       2    male  29.00      0      0   10.5000        S  Second
243         0       3    male  22.00      0      0    7.1250        S   Third
244         0       3    male  30.00      0      0    7.2250        C   Third
245         0       1    male  44.00      2      0   90.0000        Q   First
246         0       3  female  25.00      0      0    7.7750        S   Third
247         1       2  female  24.00      0      2   14.5000        S  Second
248         1       1    male  37.00      1      1   52.5542        S   First
249         0       2    male  54.00      1      0   26.0000        S  Second
250         0       3    male    NaN      0      0    7.2500        S   Third
251         0       3  female  29.00      1      1   10.4625        S   Third
252         0       1    male  62.00      0      0   26.5500        S   First
253         0       3    male  30.00      1      0   16.1000        S   Third
254         0       3  female  41.00      0      2   20.2125        S   Third

In [7]:
sb

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.00,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.00,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.00,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.00,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.00,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.00,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.00,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.00,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.00,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.00,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
12,0,3,male,20.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
13,0,3,male,39.00,1,5,31.2750,S,Third,man,True,NaN,Southampton,no,False
14,0,3,female,14.00,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
15,1,2,female,55.00,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
16,0,3,male,2.00,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
18,0,3,female,31.00,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
20,0,2,male,35.00,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
21,1,2,male,34.00,0,0,13.0000,S,Second,man,True,D,Southampton,yes,True
22,1,3,female,15.00,0,0,8.0292,Q,Third,child,False,NaN,Queenstown,yes,True
23,1,1,male,28.00,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
24,0,3,female,8.00,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
25,1,3,female,38.00,1,5,31.3875,S,Third,woman,False,NaN,Southampton,yes,False
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
27,0,1,male,19.00,3,2,263.0000,S,First,man,True,C,Southampton,no,False
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
29,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
30,0,1,male,40.00,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
32,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
33,0,2,male,66.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
34,0,1,male,28.00,1,0,82.1708,C,First,man,True,NaN,Cherbourg,no,False
35,0,1,male,42.00,1,0,52.0000,S,First,man,True,NaN,Southampton,no,False
36,1,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,yes,True
37,0,3,male,21.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
38,0,3,female,18.00,2,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
39,1,3,female,14.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
40,0,3,female,40.00,1,0,9.4750,S,Third,woman,False,NaN,Southampton,no,False
41,0,2,female,27.00,1,0,21.0000,S,Second,woman,False,NaN,Southampton,no,False
42,0,3,male,NaN,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
43,1,2,female,3.00,1,2,41.5792,C,Second,child,False,NaN,Cherbourg,yes,False
44,1,3,female,19.00,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
45,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
46,0,3,male,NaN,1,0,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
47,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
48,0,3,male,NaN,2,0,21.6792,C,Third,man,True,NaN,Cherbourg,no,False
49,0,3,female,18.00,1,0,17.8000,S,Third,woman,False,NaN,Southampton,no,False
50,0,3,male,7.00,4,1,39.6875,S,Third,child,False,NaN,Southampton,no,False
51,0,3,male,21.00,0,0,7.8000,S,Third,man,True,NaN,Southampton,no,True
52,1,1,female,49.00,1,0,76.7292,C,First,woman,False,D,Cherbourg,yes,False
53,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
54,0,1,male,65.00,0,1,61.9792,C,First,man,True,B,Cherbourg,no,False
55,1,1,male,NaN,0,0,35.5000,S,First,man,True,C,Southampton,yes,True
56,1,2,female,21.00,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
57,0,3,male,28.50,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
58,1,2,female,5.00,1,2,27.7500,S,Second,child,False,NaN,Southampton,yes,False
59,0,3,male,11.00,5,2,46.9000,S,Third,child,False,NaN,Southampton,no,False
60,0,3,male,22.00,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
61,1,1,female,38.00,0,0,80.0000,NaN,First,woman,False,B,NaN,yes,True
62,0,1,male,45.00,1,0,83.4750,S,First,man,True,C,Southampton,no,False
63,0,3,male,4.00,3,2,27.9000,S,Third,child,False,NaN,Southampton,no,False
64,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
65,1,3,male,NaN,1,1,15.2458,C,Third,man,True,NaN,Cherbourg,yes,False
66,1,2,female,29.00,0,0,10.5000,S,Second,woman,False,F,Southampton,yes,True
67,0,3,male,19.00,0,0,8.1583,S,Third,man,True,NaN,Southampton,no,True
68,1,3,female,17.00,4,2,7.9250,S,Third,woman,False,NaN,Southampton,yes,False
69,0,3,male,26.00,2,0,8.6625,S,Third,man,True,NaN,Southampton,no,False
70,0,2,male,32.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
71,0,3,female,16.00,5,2,46.9000,S,Third,woman,False,NaN,Southampton,no,False
72,0,2,male,21.00,0,0,73.5000,S,Second,man,True,NaN,Southampton,no,True
73,0,3,male,26.00,1,0,14.4542,C,Third,man,True,NaN,Cherbourg,no,False
74,1,3,male,32.00,0,0,56.4958,S,Third,man,True,NaN,Southampton,yes,True
75,0,3,male,25.00,0,0,7.6500,S,Third,man,True,F,Southampton,no,True
76,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
77,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
78,1,2,male,0.83,0,2,29.0000,S,Second,child,False,NaN,Southampton,yes,False
79,1,3,female,30.00,0,0,12.4750,S,Third,woman,False,NaN,Southampton,yes,True
80,0,3,male,22.00,0,0,9.0000,S,Third,man,True,NaN,Southampton,no,True
81,1,3,male,29.00,0,0,9.5000,S,Third,man,True,NaN,Southampton,yes,True
82,1,3,female,NaN,0,0,7.7875,Q,Third,woman,False,NaN,Queenstown,yes,True
83,0,1,male,28.00,0,0,47.1000,S,First,man,True,NaN,Southampton,no,True
84,1,2,female,17.00,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
85,1,3,female,33.00,3,0,15.8500,S,Third,woman,False,NaN,Southampton,yes,False
86,0,3,male,16.00,1,3,34.3750,S,Third,man,True,NaN,Southampton,no,False
87,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
88,1,1,female,23.00,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
89,0,3,male,24.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
90,0,3,male,29.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
91,0,3,male,20.00,0,0,7.8542,S,Third,man,True,NaN,Southampton,no,True
92,0,1,male,46.00,1,0,61.1750,S,First,man,True,E,Southampton,no,False
93,0,3,male,26.00,1,2,20.5750,S,Third,man,True,NaN,Southampton,no,False
94,0,3,male,59.00,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
95,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
96,0,1,male,71.00,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
97,1,1,male,23.00,0,1,63.3583,C,First,man,True,D,Cherbourg,yes,False
98,1,2,female,34.00,0,1,23.0000,S,Second,woman,False,NaN,Southampton,yes,False
99,0,2,male,34.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
100,0,3,female,28.00,0,0,7.8958,S,Third,woman,False,NaN,Southampton,no,True
101,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
102,0,1,male,21.00,0,1,77.2875,S,First,man,True,D,Southampton,no,False
103,0,3,male,33.00,0,0,8.6542,S,Third,man,True,NaN,Southampton,no,True
104,0,3,male,37.00,2,0,7.9250,S,Third,man,True,NaN,Southampton,no,False
105,0,3,male,28.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
106,1,3,female,21.00,0,0,7.6500,S,Third,woman,False,NaN,Southampton,yes,True
107,1,3,male,NaN,0,0,7.7750,S,Third,man,True,NaN,Southampton,yes,True
108,0,3,male,38.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
109,1,3,female,NaN,1,0,24.1500,Q,Third,woman,False,NaN,Queenstown,yes,False
110,0,1,male,47.00,0,0,52.0000,S,First,man,True,C,Southampton,no,True
111,0,3,female,14.50,1,0,14.4542,C,Third,child,False,NaN,Cherbourg,no,False
112,0,3,male,22.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
113,0,3,female,20.00,1,0,9.8250,S,Third,woman,False,NaN,Southampton,no,False
114,0,3,female,17.00,0,0,14.4583,C,Third,woman,False,NaN,Cherbourg,no,True
115,0,3,male,21.00,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
116,0,3,male,70.50,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
117,0,2,male,29.00,1,0,21.0000,S,Second,man,True,NaN,Southampton,no,False
118,0,1,male,24.00,0,1,247.5208,C,First,man,True,B,Cherbourg,no,False
119,0,3,female,2.00,4,2,31.2750,S,Third,child,False,NaN,Southampton,no,False
120,0,2,male,21.00,2,0,73.5000,S,Second,man,True,NaN,Southampton,no,False
121,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
122,0,2,male,32.50,1,0,30.0708,C,Second,man,True,NaN,Cherbourg,no,False
123,1,2,female,32.50,0,0,13.0000,S,Second,woman,False,E,Southampton,yes,True
124,0,1,male,54.00,0,1,77.2875,S,First,man,True,D,Southampton,no,False
125,1,3,male,12.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
126,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
127,1,3,male,24.00,0,0,7.1417,S,Third,man,True,NaN,Southampton,yes,True
128,1,3,female,NaN,1,1,22.3583,C,Third,woman,False,F,Cherbourg,yes,False
129,0,3,male,45.00,0,0,6.9750,S,Third,man,True,NaN,Southampton,no,True
130,0,3,male,33.00,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
131,0,3,male,20.00,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
132,0,3,female,47.00,1,0,14.5000,S,Third,woman,False,NaN,Southampton,no,False
133,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
134,0,2,male,25.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
135,0,2,male,23.00,0,0,15.0458,C,Second,man,True,NaN,Cherbourg,no,True
136,1,1,female,19.00,0,2,26.2833,S,First,woman,False,D,Southampton,yes,False
137,0,1,male,37.00,1,0,53.1000,S,First,man,True,C,Southampton,no,False
138,0,3,male,16.00,0,0,9.2167,S,Third,man,True,NaN,Southampton,no,True
139,0,1,male,24.00,0,0,79.2000,C,First,man,True,B,Cherbourg,no,True
140,0,3,female,NaN,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,no,False
141,1,3,female,22.00,0,0,7.7500,S,Third,woman,False,NaN,Southampton,yes,True
142,1,3,female,24.00,1,0,15.8500,S,Third,woman,False,NaN,Southampton,yes,False
143,0,3,male,19.00,0,0,6.7500,Q,Third,man,True,NaN,Queenstown,no,True
144,0,2,male,18.00,0,0,11.5000,S,Second,man,True,NaN,Southampton,no,True
145,0,2,male,19.00,1,1,36.7500,S,Second,man,True,NaN,Southampton,no,False
146,1,3,male,27.00,0,0,7.7958,S,Third,man,True,NaN,Southampton,yes,True
147,0,3,female,9.00,2,2,34.3750,S,Third,child,False,NaN,Southampton,no,False
148,0,2,male,36.50,0,2,26.0000,S,Second,man,True,F,Southampton,no,False
149,0,2,male,42.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
150,0,2,male,51.00,0,0,12.5250,S,Second,man,True,NaN,Southampton,no,True
151,1,1,female,22.00,1,0,66.6000,S,First,woman,False,C,Southampton,yes,False
152,0,3,male,55.50,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
153,0,3,male,40.50,0,2,14.5000,S,Third,man,True,NaN,Southampton,no,False
154,0,3,male,NaN,0,0,7.3125,S,Third,man,True,NaN,Southampton,no,True
155,0,1,male,51.00,0,1,61.3792,C,First,man,True,NaN,Cherbourg,no,False
156,1,3,female,16.00,0,0,7.7333,Q,Third,woman,False,NaN,Queenstown,yes,True
157,0,3,male,30.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
158,0,3,male,NaN,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
159,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
160,0,3,male,44.00,0,1,16.1000,S,Third,man,True,NaN,Southampton,no,False
161,1,2,female,40.00,0,0,15.7500,S,Second,woman,False,NaN,Southampton,yes,True
162,0,3,male,26.00,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
163,0,3,male,17.00,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
164,0,3,male,1.00,4,1,39.6875,S,Third,child,False,NaN,Southampton,no,False
165,1,3,male,9.00,0,2,20.5250,S,Third,child,False,NaN,Southampton,yes,False
166,1,1,female,NaN,0,1,55.0000,S,First,woman,False,E,Southampton,yes,False
167,0,3,female,45.00,1,4,27.9000,S,Third,woman,False,NaN,Southampton,no,False
168,0,1,male,NaN,0,0,25.9250,S,First,man,True,NaN,Southampton,no,True
169,0,3,male,28.00,0,0,56.4958,S,Third,man,True,NaN,Southampton,no,True
170,0,1,male,61.00,0,0,33.5000,S,First,man,True,B,Southampton,no,True
171,0,3,male,4.00,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
172,1,3,female,1.00,1,1,11.1333,S,Third,child,False,NaN,Southampton,yes,False
173,0,3,male,21.00,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
174,0,1,male,56.00,0,0,30.6958,C,First,man,True,A,Cherbourg,no,True
175,0,3,male,18.00,1,1,7.8542,S,Third,man,True,NaN,Southampton,no,False
176,0,3,male,NaN,3,1,25.4667,S,Third,man,True,NaN,Southampton,no,False
177,0,1,female,50.00,0,0,28.7125,C,First,woman,False,C,Cherbourg,no,True
178,0,2,male,30.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
179,0,3,male,36.00,0,0,0.0000,S,Third,man,True,NaN,Southampton,no,True
180,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
181,0,2,male,NaN,0,0,15.0500,C,Second,man,True,NaN,Cherbourg,no,True
182,0,3,male,9.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,no,False
183,1,2,male,1.00,2,1,39.0000,S,Second,child,False,F,Southampton,yes,False
184,1,3,female,4.00,0,2,22.0250,S,Third,child,False,NaN,Southampton,yes,False
185,0,1,male,NaN,0,0,50.0000,S,First,man,True,A,Southampton,no,True
186,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
187,1,1,male,45.00,0,0,26.5500,S,First,man,True,NaN,Southampton,yes,True
188,0,3,male,40.00,1,1,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
189,0,3,male,36.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
190,1,2,female,32.00,0,0,13.0000,S,Second,woman,False,NaN,Southampton,yes,True
191,0,2,male,19.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
192,1,3,female,19.00,1,0,7.8542,S,Third,woman,False,NaN,Southampton,yes,False
193,1,2,male,3.00,1,1,26.0000,S,Second,child,False,F,Southampton,yes,False
194,1,1,female,44.00,0,0,27.7208,C,First,woman,False,B,Cherbourg,yes,True
195,1,1,female,58.00,0,0,146.5208,C,First,woman,False,B,Cherbourg,yes,True
196,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
197,0,3,male,42.00,0,1,8.4042,S,Third,man,True,NaN,Southampton,no,False
198,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
199,0,2,female,24.00,0,0,13.0000,S,Second,woman,False,NaN,Southampton,no,True
200,0,3,male,28.00,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
201,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
202,0,3,male,34.00,0,0,6.4958,S,Third,man,True,NaN,Southampton,no,True
203,0,3,male,45.50,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
204,1,3,male,18.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,yes,True
205,0,3,female,2.00,0,1,10.4625,S,Third,child,False,G,Southampton,no,False
206,0,3,male,32.00,1,0,15.8500,S,Third,man,True,NaN,Southampton,no,False
207,1,3,male,26.00,0,0,18.7875,C,Third,man,True,NaN,Cherbourg,yes,True
208,1,3,female,16.00,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
209,1,1,male,40.00,0,0,31.0000,C,First,man,True,A,Cherbourg,yes,True
210,0,3,male,24.00,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
211,1,2,female,35.00,0,0,21.0000,S,Second,woman,False,NaN,Southampton,yes,True
212,0,3,male,22.00,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
213,0,2,male,30.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
214,0,3,male,NaN,1,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,False
215,1,1,female,31.00,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
216,1,3,female,27.00,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
217,0,2,male,42.00,1,0,27.0000,S,Second,man,True,NaN,Southampton,no,False
218,1,1,female,32.00,0,0,76.2917,C,First,woman,False,D,Cherbourg,yes,True
219,0,2,male,30.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
220,1,3,male,16.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,yes,True
221,0,2,male,27.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
222,0,3,male,51.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
223,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
224,1,1,male,38.00,1,0,90.0000,S,First,man,True,C,Southampton,yes,False
225,0,3,male,22.00,0,0,9.3500,S,Third,man,True,NaN,Southampton,no,True
226,1,2,male,19.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,yes,True
227,0,3,male,20.50,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
228,0,2,male,18.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
229,0,3,female,NaN,3,1,25.4667,S,Third,woman,False,NaN,Southampton,no,False
230,1,1,female,35.00,1,0,83.4750,S,First,woman,False,C,Southampton,yes,False
231,0,3,male,29.00,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
232,0,2,male,59.00,0,0,13.5000,S,Second,man,True,NaN,Southampton,no,True
233,1,3,female,5.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,yes,False
234,0,2,male,24.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
235,0,3,female,NaN,0,0,7.5500,S,Third,woman,False,NaN,Southampton,no,True
236,0,2,male,44.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
237,1,2,female,8.00,0,2,26.2500,S,Second,child,False,NaN,Southampton,yes,False
238,0,2,male,19.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
239,0,2,male,33.00,0,0,12.2750,S,Second,man,True,NaN,Southampton,no,True
240,0,3,female,NaN,1,0,14.4542,C,Third,woman,False,NaN,Cherbourg,no,False
241,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
242,0,2,male,29.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
243,0,3,male,22.00,0,0,7.1250,S,Third,man,True,NaN,Southampton,no,True
244,0,3,male,30.00,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
245,0,1,male,44.00,2,0,90.0000,Q,First,man,True,C,Queenstown,no,False
246,0,3,female,25.00,0,0,7.7750,S,Third,woman,False,NaN,Southampton,no,True
247,1,2,female,24.00,0,2,14.5000,S,Second,woman,False,NaN,Southampton,yes,False
248,1,1,male,37.00,1,1,52.5542,S,First,man,True,D,Southampton,yes,False
249,0,2,male,54.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
250,0,3,male,NaN,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
251,0,3,female,29.00,1,1,10.4625,S,Third,woman,False,G,Southampton,no,False
252,0,1,male,62.00,0,0,26.5500,S,First,man,True,C,Southampton,no,True
253,0,3,male,30.00,1,0,16.1000,S,Third,man,True,NaN,Southampton,no,False
254,0,3,female,41.00,0,2,20.2125,S,Third,woman,False,NaN,Southampton,no,False
255,1,3,female,29.00,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,yes,False
256,1,1,female,NaN,0,0,79.2000,C,First,woman,False,NaN,Cherbourg,yes,True
257,1,1,female,30.00,0,0,86.5000,S,First,woman,False,B,Southampton,yes,True
258,1,1,female,35.00,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
259,1,2,female,50.00,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
260,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
261,1,3,male,3.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,yes,False
262,0,1,male,52.00,1,1,79.6500,S,First,man,True,E,Southampton,no,False
263,0,1,male,40.00,0,0,0.0000,S,First,man,True,B,Southampton,no,True
264,0,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,no,True
265,0,2,male,36.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
266,0,3,male,16.00,4,1,39.6875,S,Third,man,True,NaN,Southampton,no,False
267,1,3,male,25.00,1,0,7.7750,S,Third,man,True,NaN,Southampton,yes,False
268,1,1,female,58.00,0,1,153.4625,S,First,woman,False,C,Southampton,yes,False
269,1,1,female,35.00,0,0,135.6333,S,First,woman,False,C,Southampton,yes,True
270,0,1,male,NaN,0,0,31.0000,S,First,man,True,NaN,Southampton,no,True
271,1,3,male,25.00,0,0,0.0000,S,Third,man,True,NaN,Southampton,yes,True
272,1,2,female,41.00,0,1,19.5000,S,Second,woman,False,NaN,Southampton,yes,False

In [11]:
sb.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

There is both a) non-numeric variables and b) missing values in numeric variables in this dataset

In [12]:
sb.shape

(891, 15)

In [13]:
sb.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

4. The discrepancies between size of dataset given by 'sb.shape' and 'df.describe()':

a) number of columns it analyzes: 'sb.shape' shows the total number of columns while 'sb.describe()' only shows the numeric columns

b) the values it reports in the "count" column: 'sb.shape' shows the total number of rows while 'sb.describe()' represents the numbers of non-missing values in each column

""" the 'age' column is missing 177 rows so the number of 'age' when we typed sb.describe() is 891-177 = 714 """

In [14]:
df.describe

<bound method NDFrame.describe of      row_n        id      name  gender    species birthday personality  \
0        2   admiral   Admiral    male       bird     1-27      cranky
1        3   agent-s   Agent S  female   squirrel      7-2       peppy
2        4     agnes     Agnes  female        pig     4-21        uchi
3        6        al        Al    male    gorilla    10-18        lazy
4        7   alfonso   Alfonso    male  alligator      6-9        lazy
5        8     alice     Alice  female      koala     8-19      normal
6        9      alli      Alli  female  alligator     11-8      snooty
7       10    amelia    Amelia  female      eagle    11-19      snooty
8       11  anabelle  Anabelle  female   anteater     2-16       peppy
9       13   anchovy   Anchovy    male       bird      3-4        lazy
10      14     angus     Angus    male       bull     4-30      cranky
11      15  anicotti  Anicotti  female      mouse     2-24       peppy
12      16     ankha     Ankha  female        cat     9-22      snooty
13      17  annalisa  Annalisa  female   anteater      2-6      normal
14      18  annalise  Annalise  female      horse     12-2      snooty
15      19   antonio   Antonio    male   anteater    10-20        jock
16      20    apollo    Apollo    male      eagle      7-4      cranky
17      21     apple     Apple  female    hamster     9-24       peppy
18      22    astrid    Astrid  female   kangaroo      9-8      snooty
19      23     audie     Audie  female       wolf     8-31       peppy
20      24    aurora    Aurora  female    penguin     1-27      normal
21      25       ava       Ava  female    chicken     4-28      normal
22      26     avery     Avery    male      eagle     2-22      cranky
23      27      axel      Axel    male   elephant     3-23        jock
24      29   baabara   Baabara  female      sheep     3-28      snooty
25      30       bam       Bam    male       deer     11-7        jock
26      31    bangle    Bangle  female      tiger     8-27       peppy
27      32    barold    Barold    male        cub      3-2        lazy
28      33       bea       Bea  female        dog    10-15      normal
29      34    beardo    Beardo    male       bear     9-27        smug
30      35      beau      Beau    male       deer      4-5        lazy
31      36     becky     Becky  female    chicken     12-9      snooty
32      37     bella     Bella  female      mouse    12-28       peppy
33      39  benedict  Benedict    male    chicken    10-10        lazy
34      40  benjamin  Benjamin    male        dog      8-3        lazy
35      41    bertha    Bertha  female      hippo     4-25      normal
36      43   bettina   Bettina  female      mouse     6-12      normal
37      45    bianca    Bianca  female      tiger    12-13       peppy
38      46      biff      Biff    male      hippo     3-29        jock
39      47   big-top   Big Top    male   elephant     10-3        lazy
40      48      bill      Bill    male       duck      2-1        jock
41      49     billy     Billy    male       goat     3-25        jock
42      50    biskit    Biskit    male        dog     5-13        lazy
43      51     bitty     Bitty  female      hippo     10-6      snooty
44      52    blaire    Blaire  female   squirrel      7-3      snooty
45      53   blanche   Blanche  female    ostrich    12-21      snooty
46      55  bluebear  Bluebear  female        cub     6-24       peppy
47      56       bob       Bob    male        cat      1-1        lazy
48      57    bonbon    Bonbon  female     rabbit      3-3       peppy
49      58     bones     Bones    male        dog      8-4        lazy
50      59    boomer    Boomer    male    penguin      2-7        lazy
51      60     boone     Boone    male    gorilla     9-12        jock
52      61     boots     Boots    male  alligator      8-7        jock
53      62     boris     Boris    male        pig     11-6      cranky
54      64      boyd      Boyd    male    gorilla     10-1      cranky
55      65      bree      Bree  female      mouse      7-7      snooty
56      66  broccolo  Broccolo    male      mouse     6-30        lazy
57      67  broffina  Broffina  female    chicken    10-24      snooty
58      68     bruce     Bruce    male       deer     5-26      cranky
59      69   bubbles   Bubbles  female      hippo     9-18       peppy
60      70      buck      Buck    male      horse      4-4        jock
61      71       bud       Bud    male       lion      8-8        jock
62      72    bunnie    Bunnie  female     rabbit      5-9       peppy
63      73     butch     Butch    male        dog     11-1      cranky
64      74      buzz      Buzz    male      eagle     12-7      cranky
65      75     cally     Cally  female   squirrel      9-4      normal
66      76  camofrog  Camofrog    male       frog      6-5      cranky
67      77  canberra  Canberra  female      koala     5-14        uchi
68      78     candi     Candi  female      mouse     4-13       peppy
69      80   carmen2    Carmen  female     rabbit      1-6       peppy
70      81  caroline  Caroline  female   squirrel     7-15      normal
71      82    carrie    Carrie  female   kangaroo     12-5      normal
72      84  cashmere  Cashmere  female      sheep      4-2      snooty
73      86     celia     Celia  female      eagle     3-25      normal
74      87     cesar     Cesar    male    gorilla      9-6      cranky
75      88   chadder   Chadder    male      mouse    12-15        smug
76      92  charlise  Charlise  female       bear     4-17        uchi
77      94     cheri     Cheri  female        cub     3-17       peppy
78      95    cherry    Cherry  female        dog     5-11        uchi
79      96   chester   Chester    male        cub      8-6        lazy
80      97    chevre    Chevre  female       goat      3-6      normal
81      99     chief     Chief    male       wolf    12-19      cranky
82     100     chops     Chops    male        pig    10-13        smug
83     101      chow      Chow    male       bear     7-22      cranky
84     102   chrissy   Chrissy  female     rabbit     8-28       peppy
85     105    claude    Claude    male     rabbit     12-3        lazy
86     106   claudia   Claudia  female      tiger    11-22      snooty
87     107      clay      Clay    male    hamster    10-19        lazy
88     108      cleo      Cleo  female      horse      2-9      snooty
89     109     clyde     Clyde    male      horse      5-1        lazy
90     110     coach     Coach    male       bull     4-29        jock
91     111      cobb      Cobb    male        pig     10-7        jock
92     112      coco      Coco  female     rabbit      3-1      normal
93     113      cole      Cole    male     rabbit     8-10        lazy
94     114    colton    Colton    male      horse     5-22        smug
95     115    cookie    Cookie  female        dog     6-18       peppy
96     116  cousteau  Cousteau    male       frog    12-17        jock
97     117  cranston  Cranston    male    ostrich     9-23        lazy
98     118    croque    Croque    male       frog     7-18      cranky
99     119      cube      Cube    male    penguin     1-29        lazy
100    121    curlos    Curlos    male      sheep      5-8        smug
101    122     curly     Curly    male        pig     7-26        jock
102    123      curt      Curt    male       bear      7-1      cranky
103    124       cyd       Cyd    male   elephant      6-9      cranky
104    125    cyrano    Cyrano    male   anteater      3-9      cranky
105    126     daisy     Daisy  female        dog    11-16      normal
106    127     deena     Deena  female       duck     6-27      normal
107    128   deirdre   Deirdre  female       deer      5-4        uchi
108    129       del       Del    male  alligator     5-27      cranky
109    130      deli      Deli    male     monkey     5-24        lazy
110    131    derwin    Derwin    male       duck     5-25        lazy
111    132     diana     Diana  female       deer      1-4      snooty
112    133      diva      Diva  female       frog     10-2        uchi
113    134     dizzy     Dizzy    male   elephant     7-14        lazy
114    135     dobie     Dobie    male       wolf     2-17      cranky
115    136       doc       Doc    male     rabbit     3-16        lazy
116    137       dom       Dom    male      sheep     3-18        jock
117    138      dora      Dora  female      mouse     2-18      normal
118    139     dotty     Dotty  female     rabbit     3-14       peppy
119    141     drago     Drago    male  alligator     2-12        lazy
120    142     drake     Drake    male       duck     6-25        lazy
121    143     drift     Drift    male       frog     10-9        jock
122    144        ed        Ed    male      horse     9-16        smug
123    145    egbert    Egbert    male    chicken    10-14        lazy
124    147     elise     Elise  female     monkey     3-21      snooty
125    148     ellie     Ellie  female   elephant     5-12      normal
126    149     elmer     Elmer    male      horse     10-5        lazy
127    150    eloise    Eloise  female   elephant     12-8      snooty
128    151     elvis     Elvis    male       lion     7-23      cranky
129    154      erik      Erik    male       deer     7-27        lazy
130    156    eugene    Eugene    male      koala    10-26        smug
131    157    eunice    Eunice  female      sheep      4-3      normal
132    159      fang      Fang    male       wolf    12-18      cranky
133    160     fauna     Fauna  female       deer     3-26      normal
134    161  felicity  Felicity  female        cat     3-30       peppy
135    163   filbert   Filbert    male   squirrel      6-3        lazy
136    166      flip      Flip    male     monkey    11-21        jock
137    167       flo       Flo  female    penguin      9-2        uchi
138    168     flora     Flora  female    ostrich      2-9       peppy
139    170    flurry    Flurry  female    hamster     1-30      normal
140    171  francine  Francine  female     rabbit     1-22      snooty
141    172     frank     Frank    male      eagle     7-30      cranky
142    173  freckles  Freckles  female       duck     2-19       peppy
143    174     freya     Freya  female       wolf    12-14      snooty
144    175     friga     Friga  female    penguin    10-16      snooty
145    176     frita     Frita  female      sheep     7-16        uchi
146    177   frobert   Frobert    male       frog      2-8        jock
147    179   fuchsia   Fuchsia  female       deer     9-19        uchi
148    180      gabi      Gabi  female     rabbit    12-16       peppy
149    181      gala      Gala  female        pig      3-5      normal
150    183    gaston    Gaston    male     rabbit    10-28      cranky
151    184     gayle     Gayle  female  alligator     5-17      normal
152    186     genji     Genji    male     rabbit     1-21        jock
153    187      gigi      Gigi  female       frog     8-11      snooty
154    188    gladys    Gladys  female    ostrich     1-15      normal
155    189    gloria    Gloria  female       duck     8-12      snooty
156    190    goldie    Goldie  female        dog    12-27      normal
157    191     gonzo     Gonzo    male      koala    10-13      cranky
158    192     goose     Goose    male    chicken     10-4        jock
159    193    graham    Graham    male    hamster     6-20        smug
160    194     greta     Greta  female      mouse      9-5      snooty
161    195   grizzly   Grizzly    male       bear     7-31      cranky
162    196   groucho   Groucho    male       bear    10-23      cranky
163    197     gruff     Gruff    male       goat     8-29      cranky
164    198      gwen      Gwen  female    penguin     1-23      snooty
165    200    hamlet    Hamlet    male    hamster     5-30        jock
166    201  hamphrey  Hamphrey    male    hamster     2-25      cranky
167    203      hans      Hans    male    gorilla     12-5        smug
168    204     harry     Harry    male      hippo      1-7      cranky
169    206    hazel2     Hazel  female   squirrel     8-30        uchi
170    208     henry     Henry    male       frog     9-21        smug
171    209   hippeux   Hippeux    male      hippo    10-15        smug
172    211   hopkins   Hopkins    male     rabbit     3-11        lazy
173    212    hopper    Hopper    male    penguin      4-6      cranky
174    213   hornsby   Hornsby    male      rhino     3-20        lazy
175    214      huck      Huck    male       frog      7-9        smug
176    216      hugh      Hugh    male        pig    12-30        lazy
177    217     iggly     Iggly    male    penguin     11-2        jock
178    219       ike       Ike    male       bear     5-16      cranky
179    221     jacob     Jacob    male       bird     8-24        lazy
180    222   jacques   Jacques    male       bird     6-22        smug
181    223  jambette  Jambette  female       frog    10-27      normal
182    225       jay       Jay    male       bird     7-17        jock
183    226  jeremiah  Jeremiah    male       frog      7-8        lazy
184    227   jitters   Jitters    male       bird      2-2        jock
185    229      joey      Joey    male       duck      1-3        lazy
186    231      judy      Judy  female        cub     3-10      snooty
187    232     julia     Julia  female    ostrich     7-31      snooty
188    233    julian    Julian    male      horse     3-15        smug
189    234      june      June  female        cub     5-21      normal
190    235    kabuki    Kabuki    male        cat    11-29      cranky
191    236      katt      Katt  female        cat     4-27        uchi
192    237    keaton    Keaton    male      eagle      6-1        smug
193    238       ken       Ken    male    chicken    12-23        smug
194    239   ketchup   Ketchup  female       duck     7-27       peppy
195    240     kevin     Kevin    male        pig     4-26        jock
196    241   kid-cat   Kid Cat    male        cat      8-1        jock
197    242      kidd      Kidd    male       goat     6-28        smug
198    243      kiki      Kiki  female        cat     10-8      normal
199    245      kitt      Kitt  female   kangaroo    10-11      normal
200    246     kitty     Kitty  female        cat     2-15      snooty
201    247     klaus     Klaus    male       bear     3-31        smug
202    248      knox      Knox    male    chicken    11-23      cranky
203    249      kody      Kody    male        cub     9-28        jock
204    251      kyle      Kyle    male       wolf     12-6        smug
205    253  leonardo  Leonardo    male      tiger     5-15        jock
206    254   leopold   Leopold    male       lion     8-14        smug
207    255      lily      Lily  female       frog      2-4      normal
208    256   limberg   Limberg    male      mouse    10-17      cranky
209    257    lionel    Lionel    male       lion     7-29        smug
210    259      lobo      Lobo    male       wolf     11-5      cranky
211    260     lolly     Lolly  female        cat     3-27      normal
212    261     lopez     Lopez    male       deer     8-20        smug
213    262     louie     Louie    male    gorilla     3-26        jock
214    263     lucha     Lucha    male       bird    12-12        smug
215    264     lucky     Lucky    male        dog     11-4        lazy
216    265      lucy      Lucy  female        pig      6-2      normal
217    268     lyman     Lyman    male      koala    10-12        jock
218    269       mac       Mac    male        dog    11-11        jock
219    271    maddie    Maddie  female        dog     1-11       peppy
220    272    maelle    Maelle  female       duck      4-8      snooty
221    273    maggie    Maggie  female        pig      9-3      normal
222    274   mallary   Mallary  female       duck    11-17      snooty
223    275     maple     Maple  female        cub     6-15      normal
224    276    marcel    Marcel    male        dog    12-31        lazy
225    277    marcie    Marcie  female   kangaroo     5-31      normal
226    279    margie    Margie  female   elephant     1-28      normal
227    280    marina    Marina  female    octopus     6-26      normal
228    281   marshal   Marshal    male   squirrel     9-29        smug
229    284  mathilda  Mathilda  female   kangaroo    11-12      snooty
230    286     megan     Megan  female       bear     3-13      normal
231    288     melba     Melba  female      koala     4-12      normal
232    290  merengue  Merengue  female      rhino     3-19      normal
233    291     merry     Merry  female        cat     6-29       peppy
234    292     midge     Midge  female       bird     3-12      normal
235    293      mint      Mint  female   squirrel      5-2      snooty
236    294      mira      Mira  female     rabbit      7-6        uchi
237    295   miranda   Miranda  female       duck     4-23      snooty
238    296     mitzi     Mitzi  female        cat     9-25      normal
239    297       moe       Moe    male        cat     1-12        lazy
240    298     molly     Molly  female       duck      3-7      normal
241    299   monique   Monique  female        cat     9-30      snooty
242    300     monty     Monty    male     monkey     12-7      cranky
243    301     moose     Moose    male      mouse     9-13        jock
244    302      mott      Mott    male       lion     7-10        jock
245    303     muffy     Muffy  female      sheep     2-14        uchi
246    304    murphy    Murphy    male        cub    12-29      cranky
247    305       NaN       Nan  female       goat     8-24      normal
248    306      nana      Nana  female     monkey     8-23      normal
249    307     naomi     Naomi  female        cow     2-28      snooty
250    308      nate      Nate    male       bear     8-16        lazy
251    309   nibbles   Nibbles  female   squirrel     7-19       peppy
252    312     norma     Norma  female        cow     9-20      normal
253    314  octavian  Octavian    male    octopus     9-20      cranky
254    315     ohare    O'Hare    male     rabbit     7-24        smug
255    316      olaf      Olaf    male   anteater     5-19        smug
256    317     olive     Olive  female        cub     7-12      normal
257    318    olivia    Olivia  female        cat      2-3      snooty
258    319      opal      Opal  female   elephant     1-20      snooty
259    322     ozzie     Ozzie    male      koala      5-7        lazy
260    323  pancetti  Pancetti  female        pig    11-14      snooty
261    324     pango     Pango  female   anteater     11-9       peppy
262    325     paolo     Paolo    male   elephant      5-5        lazy
263    326      papi      Papi    male      horse     1-10        lazy
264    327  pashmina  Pashmina  female       goat    12-26        uchi
265    328      pate      Pate  female       duck     2-23       peppy
266    330     patty     Patty  female        cow     5-10       peppy
267    331     paula     Paula  female       bear     3-22        uchi
268    332   peaches   Peaches  female      horse    11-28      normal
269    333    peanut    Peanut  female   squirrel      6-8       peppy
270    334     pecan     Pecan  female   squirrel     9-10      snooty
271    335      peck      Peck    male       bird     7-25        jock
272    336    peewee    Peewee    male    gorilla     9-11      cranky
273    337     peggy     Peggy  female        pig     5-23       peppy
274    338     pekoe     Pekoe  female        cub     5-18      normal
275    339  penelope  Penelope  female      mouse      2-5       peppy
276    343      phil      Phil    male    ostrich    11-27        smug
277    344    phoebe    Phoebe  female    ostrich     4-22        uchi
278    345    pierce    Pierce    male      eagle      1-8        jock
279    347    pietro    Pietro    male      sheep     4-19        smug

5. Difference between an "attribute" and a "method" :

Attributes are variables that belong to an object or class, representing the data.

Methods are functions that belong to an object or class; they define actions that an object can perform.

Ex.

df.describe -> This is a method object that doesn't execute but represents the method itself / outputs the reference

df.describe() -> This is a method call which output the dataframe countaining the summary statistics and executes the describe method

Chatgpt summary:

---

### Summary of Interaction

**Dataset Exploration and Analysis**

1. **Dataset Overview**:
   - **Dataset Used**: Characters from Animal Crossing, sourced from [here](https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv).
   - **Objective**: Explore and analyze the dataset to understand its structure, size, and the nature of missing values.

2. **Key Concepts Discussed**:
   - **Observations vs. Variables**:
     - **Observations**: Individual rows in the dataset, each representing a unique record or entry.
     - **Variables**: Columns in the dataset, each representing a different attribute or feature of the observations.

   - **Attributes vs. Methods**:
     - **Attributes**: Variables that store data about an object. For example, `my_car.color` retrieves the color of the car.
     - **Methods**: Functions that perform operations and return results. For example, `my_car.describe()` provides a description of the car.

3. **Pandas Functions**:
   - **`df.shape`**: Returns the dimensions of the DataFrame (number of rows and columns).
   - **`df.describe()`**: Provides summary statistics for numeric columns, including count, mean, standard deviation, min, and max. The "count" column shows the number of non-null values.
   - **`df.dropna()`**: Removes rows with missing values.
   - **`df.value_counts()`**: Counts unique values in a column and provides their frequency.

4. **Handling Missing Values**:
   - **`df.isnull().sum()`**: Shows the count of missing values per column.
   - **`df.dropna()`**: Used to remove rows with missing values.
   - **`del df['col']`**: Used to delete a column from the DataFrame.

5. **Displaying Data**:
   - **`pd.set_option('display.max_rows', None)`** and **`pd.set_option('display.max_columns', None)`**: Used to control the display settings of DataFrames in Pandas to show all rows and columns.

6. **Handling Errors**:
   - **`KeyError`**: Occurs when trying to access a column that does not exist.
   - **`AttributeError`**: Occurs when trying to use a method that does not exist on a DataFrame.

7. **Additional Concepts**:
   - **Size of the Dataset**: Refers to the number of rows and columns. `df.shape` gives these dimensions, while `df.describe()` provides counts of non-null values, which might differ due to missing data.

---

Chatgpt summary link: https://chatgpt.com/share/794e45cb-7746-4199-8559-8f3f239eff27

# Postlecture

In [15]:
df.describe()

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

6. Definitions of the summary statistics (can only be calculated for numeric variables in a dataset)

1) "count": the number of non-missing values
2) "mean": the average value of the column
3) "std": the standard deviation, measuring the spread and variability of the data
4) "min": the minimum value of the column
5) "25%": the 25th percentile, which is the value below which 25% of the data falls
6) "50%": median, the 50th percentil, which is the middle value
7) "75": the 3th quartile, the 75 percentile, which is the value below which 75% of the data falls
8) "max": the maximum value of the column

In [18]:
df_original = pd.read_csv(url)
df_copy = df_original.copy()
df_copy

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.00,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.00,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.00,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.00,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.00,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.00,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.00,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.00,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.00,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.00,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
12,0,3,male,20.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
13,0,3,male,39.00,1,5,31.2750,S,Third,man,True,NaN,Southampton,no,False
14,0,3,female,14.00,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
15,1,2,female,55.00,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
16,0,3,male,2.00,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
18,0,3,female,31.00,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
20,0,2,male,35.00,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
21,1,2,male,34.00,0,0,13.0000,S,Second,man,True,D,Southampton,yes,True
22,1,3,female,15.00,0,0,8.0292,Q,Third,child,False,NaN,Queenstown,yes,True
23,1,1,male,28.00,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
24,0,3,female,8.00,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
25,1,3,female,38.00,1,5,31.3875,S,Third,woman,False,NaN,Southampton,yes,False
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
27,0,1,male,19.00,3,2,263.0000,S,First,man,True,C,Southampton,no,False
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
29,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
30,0,1,male,40.00,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
32,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
33,0,2,male,66.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
34,0,1,male,28.00,1,0,82.1708,C,First,man,True,NaN,Cherbourg,no,False
35,0,1,male,42.00,1,0,52.0000,S,First,man,True,NaN,Southampton,no,False
36,1,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,yes,True
37,0,3,male,21.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
38,0,3,female,18.00,2,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
39,1,3,female,14.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
40,0,3,female,40.00,1,0,9.4750,S,Third,woman,False,NaN,Southampton,no,False
41,0,2,female,27.00,1,0,21.0000,S,Second,woman,False,NaN,Southampton,no,False
42,0,3,male,NaN,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
43,1,2,female,3.00,1,2,41.5792,C,Second,child,False,NaN,Cherbourg,yes,False
44,1,3,female,19.00,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
45,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
46,0,3,male,NaN,1,0,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
47,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
48,0,3,male,NaN,2,0,21.6792,C,Third,man,True,NaN,Cherbourg,no,False
49,0,3,female,18.00,1,0,17.8000,S,Third,woman,False,NaN,Southampton,no,False
50,0,3,male,7.00,4,1,39.6875,S,Third,child,False,NaN,Southampton,no,False
51,0,3,male,21.00,0,0,7.8000,S,Third,man,True,NaN,Southampton,no,True
52,1,1,female,49.00,1,0,76.7292,C,First,woman,False,D,Cherbourg,yes,False
53,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
54,0,1,male,65.00,0,1,61.9792,C,First,man,True,B,Cherbourg,no,False
55,1,1,male,NaN,0,0,35.5000,S,First,man,True,C,Southampton,yes,True
56,1,2,female,21.00,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
57,0,3,male,28.50,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
58,1,2,female,5.00,1,2,27.7500,S,Second,child,False,NaN,Southampton,yes,False
59,0,3,male,11.00,5,2,46.9000,S,Third,child,False,NaN,Southampton,no,False
60,0,3,male,22.00,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
61,1,1,female,38.00,0,0,80.0000,NaN,First,woman,False,B,NaN,yes,True
62,0,1,male,45.00,1,0,83.4750,S,First,man,True,C,Southampton,no,False
63,0,3,male,4.00,3,2,27.9000,S,Third,child,False,NaN,Southampton,no,False
64,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
65,1,3,male,NaN,1,1,15.2458,C,Third,man,True,NaN,Cherbourg,yes,False
66,1,2,female,29.00,0,0,10.5000,S,Second,woman,False,F,Southampton,yes,True
67,0,3,male,19.00,0,0,8.1583,S,Third,man,True,NaN,Southampton,no,True
68,1,3,female,17.00,4,2,7.9250,S,Third,woman,False,NaN,Southampton,yes,False
69,0,3,male,26.00,2,0,8.6625,S,Third,man,True,NaN,Southampton,no,False
70,0,2,male,32.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
71,0,3,female,16.00,5,2,46.9000,S,Third,woman,False,NaN,Southampton,no,False
72,0,2,male,21.00,0,0,73.5000,S,Second,man,True,NaN,Southampton,no,True
73,0,3,male,26.00,1,0,14.4542,C,Third,man,True,NaN,Cherbourg,no,False
74,1,3,male,32.00,0,0,56.4958,S,Third,man,True,NaN,Southampton,yes,True
75,0,3,male,25.00,0,0,7.6500,S,Third,man,True,F,Southampton,no,True
76,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
77,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
78,1,2,male,0.83,0,2,29.0000,S,Second,child,False,NaN,Southampton,yes,False
79,1,3,female,30.00,0,0,12.4750,S,Third,woman,False,NaN,Southampton,yes,True
80,0,3,male,22.00,0,0,9.0000,S,Third,man,True,NaN,Southampton,no,True
81,1,3,male,29.00,0,0,9.5000,S,Third,man,True,NaN,Southampton,yes,True
82,1,3,female,NaN,0,0,7.7875,Q,Third,woman,False,NaN,Queenstown,yes,True
83,0,1,male,28.00,0,0,47.1000,S,First,man,True,NaN,Southampton,no,True
84,1,2,female,17.00,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
85,1,3,female,33.00,3,0,15.8500,S,Third,woman,False,NaN,Southampton,yes,False
86,0,3,male,16.00,1,3,34.3750,S,Third,man,True,NaN,Southampton,no,False
87,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
88,1,1,female,23.00,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
89,0,3,male,24.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
90,0,3,male,29.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
91,0,3,male,20.00,0,0,7.8542,S,Third,man,True,NaN,Southampton,no,True
92,0,1,male,46.00,1,0,61.1750,S,First,man,True,E,Southampton,no,False
93,0,3,male,26.00,1,2,20.5750,S,Third,man,True,NaN,Southampton,no,False
94,0,3,male,59.00,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
95,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
96,0,1,male,71.00,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
97,1,1,male,23.00,0,1,63.3583,C,First,man,True,D,Cherbourg,yes,False
98,1,2,female,34.00,0,1,23.0000,S,Second,woman,False,NaN,Southampton,yes,False
99,0,2,male,34.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
100,0,3,female,28.00,0,0,7.8958,S,Third,woman,False,NaN,Southampton,no,True
101,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
102,0,1,male,21.00,0,1,77.2875,S,First,man,True,D,Southampton,no,False
103,0,3,male,33.00,0,0,8.6542,S,Third,man,True,NaN,Southampton,no,True
104,0,3,male,37.00,2,0,7.9250,S,Third,man,True,NaN,Southampton,no,False
105,0,3,male,28.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
106,1,3,female,21.00,0,0,7.6500,S,Third,woman,False,NaN,Southampton,yes,True
107,1,3,male,NaN,0,0,7.7750,S,Third,man,True,NaN,Southampton,yes,True
108,0,3,male,38.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
109,1,3,female,NaN,1,0,24.1500,Q,Third,woman,False,NaN,Queenstown,yes,False
110,0,1,male,47.00,0,0,52.0000,S,First,man,True,C,Southampton,no,True
111,0,3,female,14.50,1,0,14.4542,C,Third,child,False,NaN,Cherbourg,no,False
112,0,3,male,22.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
113,0,3,female,20.00,1,0,9.8250,S,Third,woman,False,NaN,Southampton,no,False
114,0,3,female,17.00,0,0,14.4583,C,Third,woman,False,NaN,Cherbourg,no,True
115,0,3,male,21.00,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
116,0,3,male,70.50,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
117,0,2,male,29.00,1,0,21.0000,S,Second,man,True,NaN,Southampton,no,False
118,0,1,male,24.00,0,1,247.5208,C,First,man,True,B,Cherbourg,no,False
119,0,3,female,2.00,4,2,31.2750,S,Third,child,False,NaN,Southampton,no,False
120,0,2,male,21.00,2,0,73.5000,S,Second,man,True,NaN,Southampton,no,False
121,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
122,0,2,male,32.50,1,0,30.0708,C,Second,man,True,NaN,Cherbourg,no,False
123,1,2,female,32.50,0,0,13.0000,S,Second,woman,False,E,Southampton,yes,True
124,0,1,male,54.00,0,1,77.2875,S,First,man,True,D,Southampton,no,False
125,1,3,male,12.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
126,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
127,1,3,male,24.00,0,0,7.1417,S,Third,man,True,NaN,Southampton,yes,True
128,1,3,female,NaN,1,1,22.3583,C,Third,woman,False,F,Cherbourg,yes,False
129,0,3,male,45.00,0,0,6.9750,S,Third,man,True,NaN,Southampton,no,True
130,0,3,male,33.00,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
131,0,3,male,20.00,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
132,0,3,female,47.00,1,0,14.5000,S,Third,woman,False,NaN,Southampton,no,False
133,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
134,0,2,male,25.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
135,0,2,male,23.00,0,0,15.0458,C,Second,man,True,NaN,Cherbourg,no,True
136,1,1,female,19.00,0,2,26.2833,S,First,woman,False,D,Southampton,yes,False
137,0,1,male,37.00,1,0,53.1000,S,First,man,True,C,Southampton,no,False
138,0,3,male,16.00,0,0,9.2167,S,Third,man,True,NaN,Southampton,no,True
139,0,1,male,24.00,0,0,79.2000,C,First,man,True,B,Cherbourg,no,True
140,0,3,female,NaN,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,no,False
141,1,3,female,22.00,0,0,7.7500,S,Third,woman,False,NaN,Southampton,yes,True
142,1,3,female,24.00,1,0,15.8500,S,Third,woman,False,NaN,Southampton,yes,False
143,0,3,male,19.00,0,0,6.7500,Q,Third,man,True,NaN,Queenstown,no,True
144,0,2,male,18.00,0,0,11.5000,S,Second,man,True,NaN,Southampton,no,True
145,0,2,male,19.00,1,1,36.7500,S,Second,man,True,NaN,Southampton,no,False
146,1,3,male,27.00,0,0,7.7958,S,Third,man,True,NaN,Southampton,yes,True
147,0,3,female,9.00,2,2,34.3750,S,Third,child,False,NaN,Southampton,no,False
148,0,2,male,36.50,0,2,26.0000,S,Second,man,True,F,Southampton,no,False
149,0,2,male,42.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
150,0,2,male,51.00,0,0,12.5250,S,Second,man,True,NaN,Southampton,no,True
151,1,1,female,22.00,1,0,66.6000,S,First,woman,False,C,Southampton,yes,False
152,0,3,male,55.50,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
153,0,3,male,40.50,0,2,14.5000,S,Third,man,True,NaN,Southampton,no,False
154,0,3,male,NaN,0,0,7.3125,S,Third,man,True,NaN,Southampton,no,True
155,0,1,male,51.00,0,1,61.3792,C,First,man,True,NaN,Cherbourg,no,False
156,1,3,female,16.00,0,0,7.7333,Q,Third,woman,False,NaN,Queenstown,yes,True
157,0,3,male,30.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
158,0,3,male,NaN,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
159,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
160,0,3,male,44.00,0,1,16.1000,S,Third,man,True,NaN,Southampton,no,False
161,1,2,female,40.00,0,0,15.7500,S,Second,woman,False,NaN,Southampton,yes,True
162,0,3,male,26.00,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
163,0,3,male,17.00,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
164,0,3,male,1.00,4,1,39.6875,S,Third,child,False,NaN,Southampton,no,False
165,1,3,male,9.00,0,2,20.5250,S,Third,child,False,NaN,Southampton,yes,False
166,1,1,female,NaN,0,1,55.0000,S,First,woman,False,E,Southampton,yes,False
167,0,3,female,45.00,1,4,27.9000,S,Third,woman,False,NaN,Southampton,no,False
168,0,1,male,NaN,0,0,25.9250,S,First,man,True,NaN,Southampton,no,True
169,0,3,male,28.00,0,0,56.4958,S,Third,man,True,NaN,Southampton,no,True
170,0,1,male,61.00,0,0,33.5000,S,First,man,True,B,Southampton,no,True
171,0,3,male,4.00,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
172,1,3,female,1.00,1,1,11.1333,S,Third,child,False,NaN,Southampton,yes,False
173,0,3,male,21.00,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
174,0,1,male,56.00,0,0,30.6958,C,First,man,True,A,Cherbourg,no,True
175,0,3,male,18.00,1,1,7.8542,S,Third,man,True,NaN,Southampton,no,False
176,0,3,male,NaN,3,1,25.4667,S,Third,man,True,NaN,Southampton,no,False
177,0,1,female,50.00,0,0,28.7125,C,First,woman,False,C,Cherbourg,no,True
178,0,2,male,30.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
179,0,3,male,36.00,0,0,0.0000,S,Third,man,True,NaN,Southampton,no,True
180,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
181,0,2,male,NaN,0,0,15.0500,C,Second,man,True,NaN,Cherbourg,no,True
182,0,3,male,9.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,no,False
183,1,2,male,1.00,2,1,39.0000,S,Second,child,False,F,Southampton,yes,False
184,1,3,female,4.00,0,2,22.0250,S,Third,child,False,NaN,Southampton,yes,False
185,0,1,male,NaN,0,0,50.0000,S,First,man,True,A,Southampton,no,True
186,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
187,1,1,male,45.00,0,0,26.5500,S,First,man,True,NaN,Southampton,yes,True
188,0,3,male,40.00,1,1,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
189,0,3,male,36.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
190,1,2,female,32.00,0,0,13.0000,S,Second,woman,False,NaN,Southampton,yes,True
191,0,2,male,19.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
192,1,3,female,19.00,1,0,7.8542,S,Third,woman,False,NaN,Southampton,yes,False
193,1,2,male,3.00,1,1,26.0000,S,Second,child,False,F,Southampton,yes,False
194,1,1,female,44.00,0,0,27.7208,C,First,woman,False,B,Cherbourg,yes,True
195,1,1,female,58.00,0,0,146.5208,C,First,woman,False,B,Cherbourg,yes,True
196,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
197,0,3,male,42.00,0,1,8.4042,S,Third,man,True,NaN,Southampton,no,False
198,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
199,0,2,female,24.00,0,0,13.0000,S,Second,woman,False,NaN,Southampton,no,True
200,0,3,male,28.00,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
201,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
202,0,3,male,34.00,0,0,6.4958,S,Third,man,True,NaN,Southampton,no,True
203,0,3,male,45.50,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
204,1,3,male,18.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,yes,True
205,0,3,female,2.00,0,1,10.4625,S,Third,child,False,G,Southampton,no,False
206,0,3,male,32.00,1,0,15.8500,S,Third,man,True,NaN,Southampton,no,False
207,1,3,male,26.00,0,0,18.7875,C,Third,man,True,NaN,Cherbourg,yes,True
208,1,3,female,16.00,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
209,1,1,male,40.00,0,0,31.0000,C,First,man,True,A,Cherbourg,yes,True
210,0,3,male,24.00,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
211,1,2,female,35.00,0,0,21.0000,S,Second,woman,False,NaN,Southampton,yes,True
212,0,3,male,22.00,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
213,0,2,male,30.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
214,0,3,male,NaN,1,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,False
215,1,1,female,31.00,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
216,1,3,female,27.00,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
217,0,2,male,42.00,1,0,27.0000,S,Second,man,True,NaN,Southampton,no,False
218,1,1,female,32.00,0,0,76.2917,C,First,woman,False,D,Cherbourg,yes,True
219,0,2,male,30.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
220,1,3,male,16.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,yes,True
221,0,2,male,27.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
222,0,3,male,51.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
223,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
224,1,1,male,38.00,1,0,90.0000,S,First,man,True,C,Southampton,yes,False
225,0,3,male,22.00,0,0,9.3500,S,Third,man,True,NaN,Southampton,no,True
226,1,2,male,19.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,yes,True
227,0,3,male,20.50,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
228,0,2,male,18.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
229,0,3,female,NaN,3,1,25.4667,S,Third,woman,False,NaN,Southampton,no,False
230,1,1,female,35.00,1,0,83.4750,S,First,woman,False,C,Southampton,yes,False
231,0,3,male,29.00,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
232,0,2,male,59.00,0,0,13.5000,S,Second,man,True,NaN,Southampton,no,True
233,1,3,female,5.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,yes,False
234,0,2,male,24.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
235,0,3,female,NaN,0,0,7.5500,S,Third,woman,False,NaN,Southampton,no,True
236,0,2,male,44.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
237,1,2,female,8.00,0,2,26.2500,S,Second,child,False,NaN,Southampton,yes,False
238,0,2,male,19.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
239,0,2,male,33.00,0,0,12.2750,S,Second,man,True,NaN,Southampton,no,True
240,0,3,female,NaN,1,0,14.4542,C,Third,woman,False,NaN,Cherbourg,no,False
241,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
242,0,2,male,29.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
243,0,3,male,22.00,0,0,7.1250,S,Third,man,True,NaN,Southampton,no,True
244,0,3,male,30.00,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
245,0,1,male,44.00,2,0,90.0000,Q,First,man,True,C,Queenstown,no,False
246,0,3,female,25.00,0,0,7.7750,S,Third,woman,False,NaN,Southampton,no,True
247,1,2,female,24.00,0,2,14.5000,S,Second,woman,False,NaN,Southampton,yes,False
248,1,1,male,37.00,1,1,52.5542,S,First,man,True,D,Southampton,yes,False
249,0,2,male,54.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
250,0,3,male,NaN,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
251,0,3,female,29.00,1,1,10.4625,S,Third,woman,False,G,Southampton,no,False
252,0,1,male,62.00,0,0,26.5500,S,First,man,True,C,Southampton,no,True
253,0,3,male,30.00,1,0,16.1000,S,Third,man,True,NaN,Southampton,no,False
254,0,3,female,41.00,0,2,20.2125,S,Third,woman,False,NaN,Southampton,no,False
255,1,3,female,29.00,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,yes,False
256,1,1,female,NaN,0,0,79.2000,C,First,woman,False,NaN,Cherbourg,yes,True
257,1,1,female,30.00,0,0,86.5000,S,First,woman,False,B,Southampton,yes,True
258,1,1,female,35.00,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
259,1,2,female,50.00,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
260,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
261,1,3,male,3.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,yes,False
262,0,1,male,52.00,1,1,79.6500,S,First,man,True,E,Southampton,no,False
263,0,1,male,40.00,0,0,0.0000,S,First,man,True,B,Southampton,no,True
264,0,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,no,True
265,0,2,male,36.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
266,0,3,male,16.00,4,1,39.6875,S,Third,man,True,NaN,Southampton,no,False
267,1,3,male,25.00,1,0,7.7750,S,Third,man,True,NaN,Southampton,yes,False
268,1,1,female,58.00,0,1,153.4625,S,First,woman,False,C,Southampton,yes,False
269,1,1,female,35.00,0,0,135.6333,S,First,woman,False,C,Southampton,yes,True
270,0,1,male,NaN,0,0,31.0000,S,First,man,True,NaN,Southampton,no,True
271,1,3,male,25.00,0,0,0.0000,S,Third,man,True,NaN,Southampton,yes,True
272,1,2,female,41.00,0,1,19.5000,S,Second,woman,False,NaN,Southampton,yes,False

(Running the latest url due to pd.read_csv(url)

In [22]:
df_copy.shape

(182, 15)

In [19]:
df_copy.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

Saving the Dataframe before making modifications.

The original copy is df_original. To modify, use df_copy.

In [20]:
df_copy.dropna(inplace=True)
df_copy

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.00,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.00,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.00,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.00,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.00,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
21,1,2,male,34.00,0,0,13.0000,S,Second,man,True,D,Southampton,yes,True
23,1,1,male,28.00,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
27,0,1,male,19.00,3,2,263.0000,S,First,man,True,C,Southampton,no,False
52,1,1,female,49.00,1,0,76.7292,C,First,woman,False,D,Cherbourg,yes,False
54,0,1,male,65.00,0,1,61.9792,C,First,man,True,B,Cherbourg,no,False
62,0,1,male,45.00,1,0,83.4750,S,First,man,True,C,Southampton,no,False
66,1,2,female,29.00,0,0,10.5000,S,Second,woman,False,F,Southampton,yes,True
75,0,3,male,25.00,0,0,7.6500,S,Third,man,True,F,Southampton,no,True
88,1,1,female,23.00,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
92,0,1,male,46.00,1,0,61.1750,S,First,man,True,E,Southampton,no,False
96,0,1,male,71.00,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
97,1,1,male,23.00,0,1,63.3583,C,First,man,True,D,Cherbourg,yes,False
102,0,1,male,21.00,0,1,77.2875,S,First,man,True,D,Southampton,no,False
110,0,1,male,47.00,0,0,52.0000,S,First,man,True,C,Southampton,no,True
118,0,1,male,24.00,0,1,247.5208,C,First,man,True,B,Cherbourg,no,False
123,1,2,female,32.50,0,0,13.0000,S,Second,woman,False,E,Southampton,yes,True
124,0,1,male,54.00,0,1,77.2875,S,First,man,True,D,Southampton,no,False
136,1,1,female,19.00,0,2,26.2833,S,First,woman,False,D,Southampton,yes,False
137,0,1,male,37.00,1,0,53.1000,S,First,man,True,C,Southampton,no,False
139,0,1,male,24.00,0,0,79.2000,C,First,man,True,B,Cherbourg,no,True
148,0,2,male,36.50,0,2,26.0000,S,Second,man,True,F,Southampton,no,False
151,1,1,female,22.00,1,0,66.6000,S,First,woman,False,C,Southampton,yes,False
170,0,1,male,61.00,0,0,33.5000,S,First,man,True,B,Southampton,no,True
174,0,1,male,56.00,0,0,30.6958,C,First,man,True,A,Cherbourg,no,True
177,0,1,female,50.00,0,0,28.7125,C,First,woman,False,C,Cherbourg,no,True
183,1,2,male,1.00,2,1,39.0000,S,Second,child,False,F,Southampton,yes,False
193,1,2,male,3.00,1,1,26.0000,S,Second,child,False,F,Southampton,yes,False
194,1,1,female,44.00,0,0,27.7208,C,First,woman,False,B,Cherbourg,yes,True
195,1,1,female,58.00,0,0,146.5208,C,First,woman,False,B,Cherbourg,yes,True
205,0,3,female,2.00,0,1,10.4625,S,Third,child,False,G,Southampton,no,False
209,1,1,male,40.00,0,0,31.0000,C,First,man,True,A,Cherbourg,yes,True
215,1,1,female,31.00,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
218,1,1,female,32.00,0,0,76.2917,C,First,woman,False,D,Cherbourg,yes,True
224,1,1,male,38.00,1,0,90.0000,S,First,man,True,C,Southampton,yes,False
230,1,1,female,35.00,1,0,83.4750,S,First,woman,False,C,Southampton,yes,False
245,0,1,male,44.00,2,0,90.0000,Q,First,man,True,C,Queenstown,no,False
248,1,1,male,37.00,1,1,52.5542,S,First,man,True,D,Southampton,yes,False
251,0,3,female,29.00,1,1,10.4625,S,Third,woman,False,G,Southampton,no,False
252,0,1,male,62.00,0,0,26.5500,S,First,man,True,C,Southampton,no,True
257,1,1,female,30.00,0,0,86.5000,S,First,woman,False,B,Southampton,yes,True
262,0,1,male,52.00,1,1,79.6500,S,First,man,True,E,Southampton,no,False
263,0,1,male,40.00,0,0,0.0000,S,First,man,True,B,Southampton,no,True
268,1,1,female,58.00,0,1,153.4625,S,First,woman,False,C,Southampton,yes,False
269,1,1,female,35.00,0,0,135.6333,S,First,woman,False,C,Southampton,yes,True
273,0,1,male,37.00,0,1,29.7000,C,First,man,True,C,Cherbourg,no,False
275,1,1,female,63.00,1,0,77.9583,S,First,woman,False,D,Southampton,yes,False
291,1,1,female,19.00,1,0,91.0792,C,First,woman,False,B,Cherbourg,yes,False
292,0,2,male,36.00,0,0,12.8750,C,Second,man,True,D,Cherbourg,no,True
297,0,1,female,2.00,1,2,151.5500,S,First,child,False,C,Southampton,no,False
299,1,1,female,50.00,0,1,247.5208,C,First,woman,False,B,Cherbourg,yes,False
305,1,1,male,0.92,1,2,151.5500,S,First,child,False,C,Southampton,yes,False
307,1,1,female,17.00,1,0,108.9000,C,First,woman,False,C,Cherbourg,yes,False
309,1,1,female,30.00,0,0,56.9292,C,First,woman,False,E,Cherbourg,yes,True
310,1,1,female,24.00,0,0,83.1583,C,First,woman,False,C,Cherbourg,yes,True
311,1,1,female,18.00,2,2,262.3750,C,First,woman,False,B,Cherbourg,yes,False
318,1,1,female,31.00,0,2,164.8667,S,First,woman,False,C,Southampton,yes,False
319,1,1,female,40.00,1,1,134.5000,C,First,woman,False,E,Cherbourg,yes,False
325,1,1,female,36.00,0,0,135.6333,C,First,woman,False,C,Cherbourg,yes,True
327,1,2,female,36.00,0,0,13.0000,S,Second,woman,False,D,Southampton,yes,True
329,1,1,female,16.00,0,1,57.9792,C,First,woman,False,B,Cherbourg,yes,False
331,0,1,male,45.50,0,0,28.5000,S,First,man,True,C,Southampton,no,True
332,0,1,male,38.00,0,1,153.4625,S,First,man,True,C,Southampton,no,False
336,0,1,male,29.00,1,0,66.6000,S,First,man,True,C,Southampton,no,False
337,1,1,female,41.00,0,0,134.5000,C,First,woman,False,E,Cherbourg,yes,True
340,1,2,male,2.00,1,1,26.0000,S,Second,child,False,F,Southampton,yes,False
341,1,1,female,24.00,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
345,1,2,female,24.00,0,0,13.0000,S,Second,woman,False,F,Southampton,yes,True
356,1,1,female,22.00,0,1,55.0000,S,First,woman,False,E,Southampton,yes,False
366,1,1,female,60.00,1,0,75.2500,C,First,woman,False,D,Cherbourg,yes,False
369,1,1,female,24.00,0,0,69.3000,C,First,woman,False,B,Cherbourg,yes,True
370,1,1,male,25.00,1,0,55.4417,C,First,man,True,E,Cherbourg,yes,False
377,0,1,male,27.00,0,2,211.5000,C,First,man,True,C,Cherbourg,no,False
390,1,1,male,36.00,1,2,120.0000,S,First,man,True,B,Southampton,yes,False
393,1,1,female,23.00,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
394,1,3,female,24.00,0,2,16.7000,S,Third,woman,False,G,Southampton,yes,False
412,1,1,female,33.00,1,0,90.0000,Q,First,woman,False,C,Queenstown,yes,False
429,1,3,male,32.00,0,0,8.0500,S,Third,man,True,E,Southampton,yes,True
430,1,1,male,28.00,0,0,26.5500,S,First,man,True,C,Southampton,yes,True
434,0,1,male,50.00,1,0,55.9000,S,First,man,True,E,Southampton,no,False
435,1,1,female,14.00,1,2,120.0000,S,First,child,False,B,Southampton,yes,False
438,0,1,male,64.00,1,4,263.0000,S,First,man,True,C,Southampton,no,False
445,1,1,male,4.00,0,2,81.8583,S,First,child,False,A,Southampton,yes,False
449,1,1,male,52.00,0,0,30.5000,S,First,man,True,C,Southampton,yes,True
452,0,1,male,30.00,0,0,27.7500,C,First,man,True,C,Cherbourg,no,True
453,1,1,male,49.00,1,0,89.1042,C,First,man,True,C,Cherbourg,yes,False
456,0,1,male,65.00,0,0,26.5500,S,First,man,True,E,Southampton,no,True
460,1,1,male,48.00,0,0,26.5500,S,First,man,True,E,Southampton,yes,True
462,0,1,male,47.00,0,0,38.5000,S,First,man,True,E,Southampton,no,True
473,1,2,female,23.00,0,0,13.7917,C,Second,woman,False,D,Cherbourg,yes,True
484,1,1,male,25.00,1,0,91.0792,C,First,man,True,B,Cherbourg,yes,False
486,1,1,female,35.00,1,0,90.0000,S,First,woman,False,C,Southampton,yes,False
487,0,1,male,58.00,0,0,29.7000,C,First,man,True,B,Cherbourg,no,True
492,0,1,male,55.00,0,0,30.5000,S,First,man,True,C,Southampton,no,True
496,1,1,female,54.00,1,0,78.2667,C,First,woman,False,D,Cherbourg,yes,False
498,0,1,female,25.00,1,2,151.5500,S,First,woman,False,C,Southampton,no,False
504,1,1,female,16.00,0,0,86.5000,S,First,woman,False,B,Southampton,yes,True
505,0,1,male,18.00,1,0,108.9000,C,First,man,True,C,Cherbourg,no,False
512,1,1,male,36.00,0,0,26.2875,S,First,man,True,E,Southampton,yes,True
515,0,1,male,47.00,0,0,34.0208,S,First,man,True,D,Southampton,no,True
516,1,2,female,34.00,0,0,10.5000,S,Second,woman,False,F,Southampton,yes,True
520,1,1,female,30.00,0,0,93.5000,S,First,woman,False,B,Southampton,yes,True
523,1,1,female,44.00,0,1,57.9792,C,First,woman,False,B,Cherbourg,yes,False
536,0,1,male,45.00,0,0,26.5500,S,First,man,True,B,Southampton,no,True
539,1,1,female,22.00,0,2,49.5000,C,First,woman,False,B,Cherbourg,yes,False
540,1,1,female,36.00,0,2,71.0000,S,First,woman,False,B,Southampton,yes,False
544,0,1,male,50.00,1,0,106.4250,C,First,man,True,C,Cherbourg,no,False
550,1,1,male,17.00,0,2,110.8833,C,First,man,True,C,Cherbourg,yes,False
556,1,1,female,48.00,1,0,39.6000,C,First,woman,False,A,Cherbourg,yes,False
558,1,1,female,39.00,1,1,79.6500,S,First,woman,False,E,Southampton,yes,False
571,1,1,female,53.00,2,0,51.4792,S,First,woman,False,C,Southampton,yes,False
572,1,1,male,36.00,0,0,26.3875,S,First,man,True,E,Southampton,yes,True
577,1,1,female,39.00,1,0,55.9000,S,First,woman,False,E,Southampton,yes,False
581,1,1,female,39.00,1,1,110.8833,C,First,woman,False,C,Cherbourg,yes,False
583,0,1,male,36.00,0,0,40.1250,C,First,man,True,A,Cherbourg,no,True
585,1,1,female,18.00,0,2,79.6500,S,First,woman,False,E,Southampton,yes,False
587,1,1,male,60.00,1,1,79.2000,C,First,man,True,B,Cherbourg,yes,False
591,1,1,female,52.00,1,0,78.2667,C,First,woman,False,D,Cherbourg,yes,False
599,1,1,male,49.00,1,0,56.9292,C,First,man,True,A,Cherbourg,yes,False
609,1,1,female,40.00,0,0,153.4625,S,First,woman,False,C,Southampton,yes,True
618,1,2,female,4.00,2,1,39.0000,S,Second,child,False,F,Southampton,yes,False
621,1,1,male,42.00,1,0,52.5542,S,First,man,True,D,Southampton,yes,False
625,0,1,male,61.00,0,0,32.3208,S,First,man,True,D,Southampton,no,True
627,1,1,female,21.00,0,0,77.9583,S,First,woman,False,D,Southampton,yes,True
630,1,1,male,80.00,0,0,30.0000,S,First,man,True,A,Southampton,yes,True
632,1,1,male,32.00,0,0,30.5000,C,First,man,True,B,Cherbourg,yes,True
641,1,1,female,24.00,0,0,69.3000,C,First,woman,False,B,Cherbourg,yes,True
645,1,1,male,48.00,1,0,76.7292,C,First,man,True,D,Cherbourg,yes,False
647,1,1,male,56.00,0,0,35.5000,C,First,man,True,A,Cherbourg,yes,True
659,0,1,male,58.00,0,2,113.2750,C,First,man,True,D,Cherbourg,no,False
662,0,1,male,47.00,0,0,25.5875,S,First,man,True,E,Southampton,no,True
671,0,1,male,31.00,1,0,52.0000,S,First,man,True,B,Southampton,no,False
679,1,1,male,36.00,0,1,512.3292,C,First,man,True,B,Cherbourg,yes,False
681,1,1,male,27.00,0,0,76.7292,C,First,man,True,D,Cherbourg,yes,True
689,1,1,female,15.00,0,1,211.3375,S,First,child,False,B,Southampton,yes,False
690,1,1,male,31.00,1,0,57.0000,S,First,man,True,B,Southampton,yes,False
698,0,1,male,49.00,1,1,110.8833,C,First,man,True,C,Cherbourg,no,False
699,0,3,male,42.00,0,0,7.6500,S,Third,man,True,F,Southampton,no,True
700,1,1,female,18.00,1,0,227.5250,C,First,woman,False,C,Cherbourg,yes,False
701,1,1,male,35.00,0,0,26.2875,S,First,man,True,E,Southampton,yes,True
707,1,1,male,42.00,0,0,26.2875,S,First,man,True,E,Southampton,yes,True
710,1,1,female,24.00,0,0,49.5042,C,First,woman,False,C,Cherbourg,yes,True
712,1,1,male,48.00,1,0,52.0000,S,First,man,True,C,Southampton,yes,False
715,0,3,male,19.00,0,0,7.6500,S,Third,man,True,F,Southampton,no,True
716,1,1,female,38.00,0,0,227.5250,C,First,woman,False,C,Cherbourg,yes,True
717,1,2,female,27.00,0,0,10.5000,S,Second,woman,False,E,Southampton,yes,True
724,1,1,male,27.00,1,0,53.1000,S,First,man,True,E,Southampton,yes,False
730,1,1,female,29.00,0,0,211.3375,S,First,woman,False,B,Southampton,yes,True
737,1,1,male,35.00,0,0,512.3292,C,First,man,True,B,Cherbourg,yes,True
741,0,1,male,36.00,1,0,78.8500,S,First,man,True,C,Southampton,no,False
742,1,1,female,21.00,2,2,262.3750,C,First,woman,False,B,Cherbourg,yes,False
745,0,1,male,70.00,1,1,71.0000,S,First,man,True,B,Southampton,no,False
748,0,1,male,19.00,1,0,53.1000,S,First,man,True,D,Southampton,no,False
751,1,3,male,6.00,0,1,12.4750,S,Third,child,False,E,Southampton,yes,False
759,1,1,female,33.00,0,0,86.5000,S,First,woman,False,B,Southampton,yes,True
763,1,1,female,36.00,1,2,120.0000,S,First,woman,False,B,Southampton,yes,False
765,1,1,female,51.00,1,0,77.9583,S,First,woman,False,D,Southampton,yes,False
772,0,2,female,57.00,0,0,10.5000,S,Second,woman,False,E,Southampton,no,True
779,1,1,female,43.00,0,1,211.3375,S,First,woman,False,B,Southampton,yes,False
781,1,1,female,17.00,1,0,57.0000,S,First,woman,False,B,Southampton,yes,False
782,0,1,male,29.00,0,0,30.0000,S,First,man,True,D,Southampton,no,True
789,0,1,male,46.00,0,0,79.2000,C,First,man,True,B,Cherbourg,no,True
796,1,1,female,49.00,0,0,25.9292,S,First,woman,False,D,Southampton,yes,True
802,1,1,male,11.00,1,2,120.0000,S,First,child,False,B,Southampton,yes,False
806,0,1,male,39.00,0,0,0.0000,S,First,man,True,A,Southampton,no,True
809,1,1,female,33.00,1,0,53.1000,S,First,woman,False,E,Southampton,yes,False
820,1,1,female,52.00,1,1,93.5000,S,First,woman,False,B,Southampton,yes,False
823,1,3,female,27.00,0,1,12.4750,S,Third,woman,False,E,Southampton,yes,False
835,1,1,female,39.00,1,1,83.1583,C,First,woman,False,E,Cherbourg,yes,False
853,1,1,female,16.00,0,1,39.4000,S,First,woman,False,D,Southampton,yes,False
857,1,1,male,51.00,0,0,26.5500,S,First,man,True,E,Southampton,yes,True
862,1,1,female,48.00,0,0,25.9292,S,First,woman,False,D,Southampton,yes,True
867,0,1,male,31.00,0,0,50.4958,S,First,man,True,A,Southampton,no,True
871,1,1,female,47.00,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.00,0,0,5.0000,S,First,man,True,B,Southampton,no,True
879,1,1,female,56.00,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
887,1,1,female,19.00,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.00,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [21]:
df_copy.shape

(182, 15)

Now the rows with missing values are deleted.

In [23]:
del df_copy['fare']
df_copy

,survived,pclass,sex,age,sibsp,parch,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.00,1,0,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.00,1,0,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.00,0,0,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.00,1,1,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.00,0,0,S,First,woman,False,C,Southampton,yes,True
21,1,2,male,34.00,0,0,S,Second,man,True,D,Southampton,yes,True
23,1,1,male,28.00,0,0,S,First,man,True,A,Southampton,yes,True
27,0,1,male,19.00,3,2,S,First,man,True,C,Southampton,no,False
52,1,1,female,49.00,1,0,C,First,woman,False,D,Cherbourg,yes,False
54,0,1,male,65.00,0,1,C,First,man,True,B,Cherbourg,no,False
62,0,1,male,45.00,1,0,S,First,man,True,C,Southampton,no,False
66,1,2,female,29.00,0,0,S,Second,woman,False,F,Southampton,yes,True
75,0,3,male,25.00,0,0,S,Third,man,True,F,Southampton,no,True
88,1,1,female,23.00,3,2,S,First,woman,False,C,Southampton,yes,False
92,0,1,male,46.00,1,0,S,First,man,True,E,Southampton,no,False
96,0,1,male,71.00,0,0,C,First,man,True,A,Cherbourg,no,True
97,1,1,male,23.00,0,1,C,First,man,True,D,Cherbourg,yes,False
102,0,1,male,21.00,0,1,S,First,man,True,D,Southampton,no,False
110,0,1,male,47.00,0,0,S,First,man,True,C,Southampton,no,True
118,0,1,male,24.00,0,1,C,First,man,True,B,Cherbourg,no,False
123,1,2,female,32.50,0,0,S,Second,woman,False,E,Southampton,yes,True
124,0,1,male,54.00,0,1,S,First,man,True,D,Southampton,no,False
136,1,1,female,19.00,0,2,S,First,woman,False,D,Southampton,yes,False
137,0,1,male,37.00,1,0,S,First,man,True,C,Southampton,no,False
139,0,1,male,24.00,0,0,C,First,man,True,B,Cherbourg,no,True
148,0,2,male,36.50,0,2,S,Second,man,True,F,Southampton,no,False
151,1,1,female,22.00,1,0,S,First,woman,False,C,Southampton,yes,False
170,0,1,male,61.00,0,0,S,First,man,True,B,Southampton,no,True
174,0,1,male,56.00,0,0,C,First,man,True,A,Cherbourg,no,True
177,0,1,female,50.00,0,0,C,First,woman,False,C,Cherbourg,no,True
183,1,2,male,1.00,2,1,S,Second,child,False,F,Southampton,yes,False
193,1,2,male,3.00,1,1,S,Second,child,False,F,Southampton,yes,False
194,1,1,female,44.00,0,0,C,First,woman,False,B,Cherbourg,yes,True
195,1,1,female,58.00,0,0,C,First,woman,False,B,Cherbourg,yes,True
205,0,3,female,2.00,0,1,S,Third,child,False,G,Southampton,no,False
209,1,1,male,40.00,0,0,C,First,man,True,A,Cherbourg,yes,True
215,1,1,female,31.00,1,0,C,First,woman,False,D,Cherbourg,yes,False
218,1,1,female,32.00,0,0,C,First,woman,False,D,Cherbourg,yes,True
224,1,1,male,38.00,1,0,S,First,man,True,C,Southampton,yes,False
230,1,1,female,35.00,1,0,S,First,woman,False,C,Southampton,yes,False
245,0,1,male,44.00,2,0,Q,First,man,True,C,Queenstown,no,False
248,1,1,male,37.00,1,1,S,First,man,True,D,Southampton,yes,False
251,0,3,female,29.00,1,1,S,Third,woman,False,G,Southampton,no,False
252,0,1,male,62.00,0,0,S,First,man,True,C,Southampton,no,True
257,1,1,female,30.00,0,0,S,First,woman,False,B,Southampton,yes,True
262,0,1,male,52.00,1,1,S,First,man,True,E,Southampton,no,False
263,0,1,male,40.00,0,0,S,First,man,True,B,Southampton,no,True
268,1,1,female,58.00,0,1,S,First,woman,False,C,Southampton,yes,False
269,1,1,female,35.00,0,0,S,First,woman,False,C,Southampton,yes,True
273,0,1,male,37.00,0,1,C,First,man,True,C,Cherbourg,no,False
275,1,1,female,63.00,1,0,S,First,woman,False,D,Southampton,yes,False
291,1,1,female,19.00,1,0,C,First,woman,False,B,Cherbourg,yes,False
292,0,2,male,36.00,0,0,C,Second,man,True,D,Cherbourg,no,True
297,0,1,female,2.00,1,2,S,First,child,False,C,Southampton,no,False
299,1,1,female,50.00,0,1,C,First,woman,False,B,Cherbourg,yes,False
305,1,1,male,0.92,1,2,S,First,child,False,C,Southampton,yes,False
307,1,1,female,17.00,1,0,C,First,woman,False,C,Cherbourg,yes,False
309,1,1,female,30.00,0,0,C,First,woman,False,E,Cherbourg,yes,True
310,1,1,female,24.00,0,0,C,First,woman,False,C,Cherbourg,yes,True
311,1,1,female,18.00,2,2,C,First,woman,False,B,Cherbourg,yes,False
318,1,1,female,31.00,0,2,S,First,woman,False,C,Southampton,yes,False
319,1,1,female,40.00,1,1,C,First,woman,False,E,Cherbourg,yes,False
325,1,1,female,36.00,0,0,C,First,woman,False,C,Cherbourg,yes,True
327,1,2,female,36.00,0,0,S,Second,woman,False,D,Southampton,yes,True
329,1,1,female,16.00,0,1,C,First,woman,False,B,Cherbourg,yes,False
331,0,1,male,45.50,0,0,S,First,man,True,C,Southampton,no,True
332,0,1,male,38.00,0,1,S,First,man,True,C,Southampton,no,False
336,0,1,male,29.00,1,0,S,First,man,True,C,Southampton,no,False
337,1,1,female,41.00,0,0,C,First,woman,False,E,Cherbourg,yes,True
340,1,2,male,2.00,1,1,S,Second,child,False,F,Southampton,yes,False
341,1,1,female,24.00,3,2,S,First,woman,False,C,Southampton,yes,False
345,1,2,female,24.00,0,0,S,Second,woman,False,F,Southampton,yes,True
356,1,1,female,22.00,0,1,S,First,woman,False,E,Southampton,yes,False
366,1,1,female,60.00,1,0,C,First,woman,False,D,Cherbourg,yes,False
369,1,1,female,24.00,0,0,C,First,woman,False,B,Cherbourg,yes,True
370,1,1,male,25.00,1,0,C,First,man,True,E,Cherbourg,yes,False
377,0,1,male,27.00,0,2,C,First,man,True,C,Cherbourg,no,False
390,1,1,male,36.00,1,2,S,First,man,True,B,Southampton,yes,False
393,1,1,female,23.00,1,0,C,First,woman,False,D,Cherbourg,yes,False
394,1,3,female,24.00,0,2,S,Third,woman,False,G,Southampton,yes,False
412,1,1,female,33.00,1,0,Q,First,woman,False,C,Queenstown,yes,False
429,1,3,male,32.00,0,0,S,Third,man,True,E,Southampton,yes,True
430,1,1,male,28.00,0,0,S,First,man,True,C,Southampton,yes,True
434,0,1,male,50.00,1,0,S,First,man,True,E,Southampton,no,False
435,1,1,female,14.00,1,2,S,First,child,False,B,Southampton,yes,False
438,0,1,male,64.00,1,4,S,First,man,True,C,Southampton,no,False
445,1,1,male,4.00,0,2,S,First,child,False,A,Southampton,yes,False
449,1,1,male,52.00,0,0,S,First,man,True,C,Southampton,yes,True
452,0,1,male,30.00,0,0,C,First,man,True,C,Cherbourg,no,True
453,1,1,male,49.00,1,0,C,First,man,True,C,Cherbourg,yes,False
456,0,1,male,65.00,0,0,S,First,man,True,E,Southampton,no,True
460,1,1,male,48.00,0,0,S,First,man,True,E,Southampton,yes,True
462,0,1,male,47.00,0,0,S,First,man,True,E,Southampton,no,True
473,1,2,female,23.00,0,0,C,Second,woman,False,D,Cherbourg,yes,True
484,1,1,male,25.00,1,0,C,First,man,True,B,Cherbourg,yes,False
486,1,1,female,35.00,1,0,S,First,woman,False,C,Southampton,yes,False
487,0,1,male,58.00,0,0,C,First,man,True,B,Cherbourg,no,True
492,0,1,male,55.00,0,0,S,First,man,True,C,Southampton,no,True
496,1,1,female,54.00,1,0,C,First,woman,False,D,Cherbourg,yes,False
498,0,1,female,25.00,1,2,S,First,woman,False,C,Southampton,no,False
504,1,1,female,16.00,0,0,S,First,woman,False,B,Southampton,yes,True
505,0,1,male,18.00,1,0,C,First,man,True,C,Cherbourg,no,False
512,1,1,male,36.00,0,0,S,First,man,True,E,Southampton,yes,True
515,0,1,male,47.00,0,0,S,First,man,True,D,Southampton,no,True
516,1,2,female,34.00,0,0,S,Second,woman,False,F,Southampton,yes,True
520,1,1,female,30.00,0,0,S,First,woman,False,B,Southampton,yes,True
523,1,1,female,44.00,0,1,C,First,woman,False,B,Cherbourg,yes,False
536,0,1,male,45.00,0,0,S,First,man,True,B,Southampton,no,True
539,1,1,female,22.00,0,2,C,First,woman,False,B,Cherbourg,yes,False
540,1,1,female,36.00,0,2,S,First,woman,False,B,Southampton,yes,False
544,0,1,male,50.00,1,0,C,First,man,True,C,Cherbourg,no,False
550,1,1,male,17.00,0,2,C,First,man,True,C,Cherbourg,yes,False
556,1,1,female,48.00,1,0,C,First,woman,False,A,Cherbourg,yes,False
558,1,1,female,39.00,1,1,S,First,woman,False,E,Southampton,yes,False
571,1,1,female,53.00,2,0,S,First,woman,False,C,Southampton,yes,False
572,1,1,male,36.00,0,0,S,First,man,True,E,Southampton,yes,True
577,1,1,female,39.00,1,0,S,First,woman,False,E,Southampton,yes,False
581,1,1,female,39.00,1,1,C,First,woman,False,C,Cherbourg,yes,False
583,0,1,male,36.00,0,0,C,First,man,True,A,Cherbourg,no,True
585,1,1,female,18.00,0,2,S,First,woman,False,E,Southampton,yes,False
587,1,1,male,60.00,1,1,C,First,man,True,B,Cherbourg,yes,False
591,1,1,female,52.00,1,0,C,First,woman,False,D,Cherbourg,yes,False
599,1,1,male,49.00,1,0,C,First,man,True,A,Cherbourg,yes,False
609,1,1,female,40.00,0,0,S,First,woman,False,C,Southampton,yes,True
618,1,2,female,4.00,2,1,S,Second,child,False,F,Southampton,yes,False
621,1,1,male,42.00,1,0,S,First,man,True,D,Southampton,yes,False
625,0,1,male,61.00,0,0,S,First,man,True,D,Southampton,no,True
627,1,1,female,21.00,0,0,S,First,woman,False,D,Southampton,yes,True
630,1,1,male,80.00,0,0,S,First,man,True,A,Southampton,yes,True
632,1,1,male,32.00,0,0,C,First,man,True,B,Cherbourg,yes,True
641,1,1,female,24.00,0,0,C,First,woman,False,B,Cherbourg,yes,True
645,1,1,male,48.00,1,0,C,First,man,True,D,Cherbourg,yes,False
647,1,1,male,56.00,0,0,C,First,man,True,A,Cherbourg,yes,True
659,0,1,male,58.00,0,2,C,First,man,True,D,Cherbourg,no,False
662,0,1,male,47.00,0,0,S,First,man,True,E,Southampton,no,True
671,0,1,male,31.00,1,0,S,First,man,True,B,Southampton,no,False
679,1,1,male,36.00,0,1,C,First,man,True,B,Cherbourg,yes,False
681,1,1,male,27.00,0,0,C,First,man,True,D,Cherbourg,yes,True
689,1,1,female,15.00,0,1,S,First,child,False,B,Southampton,yes,False
690,1,1,male,31.00,1,0,S,First,man,True,B,Southampton,yes,False
698,0,1,male,49.00,1,1,C,First,man,True,C,Cherbourg,no,False
699,0,3,male,42.00,0,0,S,Third,man,True,F,Southampton,no,True
700,1,1,female,18.00,1,0,C,First,woman,False,C,Cherbourg,yes,False
701,1,1,male,35.00,0,0,S,First,man,True,E,Southampton,yes,True
707,1,1,male,42.00,0,0,S,First,man,True,E,Southampton,yes,True
710,1,1,female,24.00,0,0,C,First,woman,False,C,Cherbourg,yes,True
712,1,1,male,48.00,1,0,S,First,man,True,C,Southampton,yes,False
715,0,3,male,19.00,0,0,S,Third,man,True,F,Southampton,no,True
716,1,1,female,38.00,0,0,C,First,woman,False,C,Cherbourg,yes,True
717,1,2,female,27.00,0,0,S,Second,woman,False,E,Southampton,yes,True
724,1,1,male,27.00,1,0,S,First,man,True,E,Southampton,yes,False
730,1,1,female,29.00,0,0,S,First,woman,False,B,Southampton,yes,True
737,1,1,male,35.00,0,0,C,First,man,True,B,Cherbourg,yes,True
741,0,1,male,36.00,1,0,S,First,man,True,C,Southampton,no,False
742,1,1,female,21.00,2,2,C,First,woman,False,B,Cherbourg,yes,False
745,0,1,male,70.00,1,1,S,First,man,True,B,Southampton,no,False
748,0,1,male,19.00,1,0,S,First,man,True,D,Southampton,no,False
751,1,3,male,6.00,0,1,S,Third,child,False,E,Southampton,yes,False
759,1,1,female,33.00,0,0,S,First,woman,False,B,Southampton,yes,True
763,1,1,female,36.00,1,2,S,First,woman,False,B,Southampton,yes,False
765,1,1,female,51.00,1,0,S,First,woman,False,D,Southampton,yes,False
772,0,2,female,57.00,0,0,S,Second,woman,False,E,Southampton,no,True
779,1,1,female,43.00,0,1,S,First,woman,False,B,Southampton,yes,False
781,1,1,female,17.00,1,0,S,First,woman,False,B,Southampton,yes,False
782,0,1,male,29.00,0,0,S,First,man,True,D,Southampton,no,True
789,0,1,male,46.00,0,0,C,First,man,True,B,Cherbourg,no,True
796,1,1,female,49.00,0,0,S,First,woman,False,D,Southampton,yes,True
802,1,1,male,11.00,1,2,S,First,child,False,B,Southampton,yes,False
806,0,1,male,39.00,0,0,S,First,man,True,A,Southampton,no,True
809,1,1,female,33.00,1,0,S,First,woman,False,E,Southampton,yes,False
820,1,1,female,52.00,1,1,S,First,woman,False,B,Southampton,yes,False
823,1,3,female,27.00,0,1,S,Third,woman,False,E,Southampton,yes,False
835,1,1,female,39.00,1,1,C,First,woman,False,E,Cherbourg,yes,False
853,1,1,female,16.00,0,1,S,First,woman,False,D,Southampton,yes,False
857,1,1,male,51.00,0,0,S,First,man,True,E,Southampton,yes,True
862,1,1,female,48.00,0,0,S,First,woman,False,D,Southampton,yes,True
867,0,1,male,31.00,0,0,S,First,man,True,A,Southampton,no,True
871,1,1,female,47.00,1,1,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.00,0,0,S,First,man,True,B,Southampton,no,True
879,1,1,female,56.00,0,1,C,First,woman,False,C,Cherbourg,yes,False
887,1,1,female,19.00,0,0,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.00,0,0,C,First,man,True,C,Cherbourg,yes,True

There's an error because 'id' has already been deleted since I have run it once.

In [24]:
df_copy.shape

(182, 14)

The column "id" is deleted.

In [25]:
df_original

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.00,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.00,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.00,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.00,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.00,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.00,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.00,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.00,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.00,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.00,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
12,0,3,male,20.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
13,0,3,male,39.00,1,5,31.2750,S,Third,man,True,NaN,Southampton,no,False
14,0,3,female,14.00,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
15,1,2,female,55.00,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
16,0,3,male,2.00,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
18,0,3,female,31.00,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
20,0,2,male,35.00,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
21,1,2,male,34.00,0,0,13.0000,S,Second,man,True,D,Southampton,yes,True
22,1,3,female,15.00,0,0,8.0292,Q,Third,child,False,NaN,Queenstown,yes,True
23,1,1,male,28.00,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
24,0,3,female,8.00,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
25,1,3,female,38.00,1,5,31.3875,S,Third,woman,False,NaN,Southampton,yes,False
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
27,0,1,male,19.00,3,2,263.0000,S,First,man,True,C,Southampton,no,False
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
29,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
30,0,1,male,40.00,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
32,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
33,0,2,male,66.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
34,0,1,male,28.00,1,0,82.1708,C,First,man,True,NaN,Cherbourg,no,False
35,0,1,male,42.00,1,0,52.0000,S,First,man,True,NaN,Southampton,no,False
36,1,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,yes,True
37,0,3,male,21.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
38,0,3,female,18.00,2,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
39,1,3,female,14.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
40,0,3,female,40.00,1,0,9.4750,S,Third,woman,False,NaN,Southampton,no,False
41,0,2,female,27.00,1,0,21.0000,S,Second,woman,False,NaN,Southampton,no,False
42,0,3,male,NaN,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
43,1,2,female,3.00,1,2,41.5792,C,Second,child,False,NaN,Cherbourg,yes,False
44,1,3,female,19.00,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
45,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
46,0,3,male,NaN,1,0,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
47,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
48,0,3,male,NaN,2,0,21.6792,C,Third,man,True,NaN,Cherbourg,no,False
49,0,3,female,18.00,1,0,17.8000,S,Third,woman,False,NaN,Southampton,no,False
50,0,3,male,7.00,4,1,39.6875,S,Third,child,False,NaN,Southampton,no,False
51,0,3,male,21.00,0,0,7.8000,S,Third,man,True,NaN,Southampton,no,True
52,1,1,female,49.00,1,0,76.7292,C,First,woman,False,D,Cherbourg,yes,False
53,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
54,0,1,male,65.00,0,1,61.9792,C,First,man,True,B,Cherbourg,no,False
55,1,1,male,NaN,0,0,35.5000,S,First,man,True,C,Southampton,yes,True
56,1,2,female,21.00,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
57,0,3,male,28.50,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
58,1,2,female,5.00,1,2,27.7500,S,Second,child,False,NaN,Southampton,yes,False
59,0,3,male,11.00,5,2,46.9000,S,Third,child,False,NaN,Southampton,no,False
60,0,3,male,22.00,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
61,1,1,female,38.00,0,0,80.0000,NaN,First,woman,False,B,NaN,yes,True
62,0,1,male,45.00,1,0,83.4750,S,First,man,True,C,Southampton,no,False
63,0,3,male,4.00,3,2,27.9000,S,Third,child,False,NaN,Southampton,no,False
64,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
65,1,3,male,NaN,1,1,15.2458,C,Third,man,True,NaN,Cherbourg,yes,False
66,1,2,female,29.00,0,0,10.5000,S,Second,woman,False,F,Southampton,yes,True
67,0,3,male,19.00,0,0,8.1583,S,Third,man,True,NaN,Southampton,no,True
68,1,3,female,17.00,4,2,7.9250,S,Third,woman,False,NaN,Southampton,yes,False
69,0,3,male,26.00,2,0,8.6625,S,Third,man,True,NaN,Southampton,no,False
70,0,2,male,32.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
71,0,3,female,16.00,5,2,46.9000,S,Third,woman,False,NaN,Southampton,no,False
72,0,2,male,21.00,0,0,73.5000,S,Second,man,True,NaN,Southampton,no,True
73,0,3,male,26.00,1,0,14.4542,C,Third,man,True,NaN,Cherbourg,no,False
74,1,3,male,32.00,0,0,56.4958,S,Third,man,True,NaN,Southampton,yes,True
75,0,3,male,25.00,0,0,7.6500,S,Third,man,True,F,Southampton,no,True
76,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
77,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
78,1,2,male,0.83,0,2,29.0000,S,Second,child,False,NaN,Southampton,yes,False
79,1,3,female,30.00,0,0,12.4750,S,Third,woman,False,NaN,Southampton,yes,True
80,0,3,male,22.00,0,0,9.0000,S,Third,man,True,NaN,Southampton,no,True
81,1,3,male,29.00,0,0,9.5000,S,Third,man,True,NaN,Southampton,yes,True
82,1,3,female,NaN,0,0,7.7875,Q,Third,woman,False,NaN,Queenstown,yes,True
83,0,1,male,28.00,0,0,47.1000,S,First,man,True,NaN,Southampton,no,True
84,1,2,female,17.00,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
85,1,3,female,33.00,3,0,15.8500,S,Third,woman,False,NaN,Southampton,yes,False
86,0,3,male,16.00,1,3,34.3750,S,Third,man,True,NaN,Southampton,no,False
87,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
88,1,1,female,23.00,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
89,0,3,male,24.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
90,0,3,male,29.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
91,0,3,male,20.00,0,0,7.8542,S,Third,man,True,NaN,Southampton,no,True
92,0,1,male,46.00,1,0,61.1750,S,First,man,True,E,Southampton,no,False
93,0,3,male,26.00,1,2,20.5750,S,Third,man,True,NaN,Southampton,no,False
94,0,3,male,59.00,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
95,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
96,0,1,male,71.00,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
97,1,1,male,23.00,0,1,63.3583,C,First,man,True,D,Cherbourg,yes,False
98,1,2,female,34.00,0,1,23.0000,S,Second,woman,False,NaN,Southampton,yes,False
99,0,2,male,34.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
100,0,3,female,28.00,0,0,7.8958,S,Third,woman,False,NaN,Southampton,no,True
101,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
102,0,1,male,21.00,0,1,77.2875,S,First,man,True,D,Southampton,no,False
103,0,3,male,33.00,0,0,8.6542,S,Third,man,True,NaN,Southampton,no,True
104,0,3,male,37.00,2,0,7.9250,S,Third,man,True,NaN,Southampton,no,False
105,0,3,male,28.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
106,1,3,female,21.00,0,0,7.6500,S,Third,woman,False,NaN,Southampton,yes,True
107,1,3,male,NaN,0,0,7.7750,S,Third,man,True,NaN,Southampton,yes,True
108,0,3,male,38.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
109,1,3,female,NaN,1,0,24.1500,Q,Third,woman,False,NaN,Queenstown,yes,False
110,0,1,male,47.00,0,0,52.0000,S,First,man,True,C,Southampton,no,True
111,0,3,female,14.50,1,0,14.4542,C,Third,child,False,NaN,Cherbourg,no,False
112,0,3,male,22.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
113,0,3,female,20.00,1,0,9.8250,S,Third,woman,False,NaN,Southampton,no,False
114,0,3,female,17.00,0,0,14.4583,C,Third,woman,False,NaN,Cherbourg,no,True
115,0,3,male,21.00,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
116,0,3,male,70.50,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
117,0,2,male,29.00,1,0,21.0000,S,Second,man,True,NaN,Southampton,no,False
118,0,1,male,24.00,0,1,247.5208,C,First,man,True,B,Cherbourg,no,False
119,0,3,female,2.00,4,2,31.2750,S,Third,child,False,NaN,Southampton,no,False
120,0,2,male,21.00,2,0,73.5000,S,Second,man,True,NaN,Southampton,no,False
121,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
122,0,2,male,32.50,1,0,30.0708,C,Second,man,True,NaN,Cherbourg,no,False
123,1,2,female,32.50,0,0,13.0000,S,Second,woman,False,E,Southampton,yes,True
124,0,1,male,54.00,0,1,77.2875,S,First,man,True,D,Southampton,no,False
125,1,3,male,12.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
126,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
127,1,3,male,24.00,0,0,7.1417,S,Third,man,True,NaN,Southampton,yes,True
128,1,3,female,NaN,1,1,22.3583,C,Third,woman,False,F,Cherbourg,yes,False
129,0,3,male,45.00,0,0,6.9750,S,Third,man,True,NaN,Southampton,no,True
130,0,3,male,33.00,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
131,0,3,male,20.00,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
132,0,3,female,47.00,1,0,14.5000,S,Third,woman,False,NaN,Southampton,no,False
133,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
134,0,2,male,25.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
135,0,2,male,23.00,0,0,15.0458,C,Second,man,True,NaN,Cherbourg,no,True
136,1,1,female,19.00,0,2,26.2833,S,First,woman,False,D,Southampton,yes,False
137,0,1,male,37.00,1,0,53.1000,S,First,man,True,C,Southampton,no,False
138,0,3,male,16.00,0,0,9.2167,S,Third,man,True,NaN,Southampton,no,True
139,0,1,male,24.00,0,0,79.2000,C,First,man,True,B,Cherbourg,no,True
140,0,3,female,NaN,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,no,False
141,1,3,female,22.00,0,0,7.7500,S,Third,woman,False,NaN,Southampton,yes,True
142,1,3,female,24.00,1,0,15.8500,S,Third,woman,False,NaN,Southampton,yes,False
143,0,3,male,19.00,0,0,6.7500,Q,Third,man,True,NaN,Queenstown,no,True
144,0,2,male,18.00,0,0,11.5000,S,Second,man,True,NaN,Southampton,no,True
145,0,2,male,19.00,1,1,36.7500,S,Second,man,True,NaN,Southampton,no,False
146,1,3,male,27.00,0,0,7.7958,S,Third,man,True,NaN,Southampton,yes,True
147,0,3,female,9.00,2,2,34.3750,S,Third,child,False,NaN,Southampton,no,False
148,0,2,male,36.50,0,2,26.0000,S,Second,man,True,F,Southampton,no,False
149,0,2,male,42.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
150,0,2,male,51.00,0,0,12.5250,S,Second,man,True,NaN,Southampton,no,True
151,1,1,female,22.00,1,0,66.6000,S,First,woman,False,C,Southampton,yes,False
152,0,3,male,55.50,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
153,0,3,male,40.50,0,2,14.5000,S,Third,man,True,NaN,Southampton,no,False
154,0,3,male,NaN,0,0,7.3125,S,Third,man,True,NaN,Southampton,no,True
155,0,1,male,51.00,0,1,61.3792,C,First,man,True,NaN,Cherbourg,no,False
156,1,3,female,16.00,0,0,7.7333,Q,Third,woman,False,NaN,Queenstown,yes,True
157,0,3,male,30.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
158,0,3,male,NaN,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
159,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
160,0,3,male,44.00,0,1,16.1000,S,Third,man,True,NaN,Southampton,no,False
161,1,2,female,40.00,0,0,15.7500,S,Second,woman,False,NaN,Southampton,yes,True
162,0,3,male,26.00,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
163,0,3,male,17.00,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
164,0,3,male,1.00,4,1,39.6875,S,Third,child,False,NaN,Southampton,no,False
165,1,3,male,9.00,0,2,20.5250,S,Third,child,False,NaN,Southampton,yes,False
166,1,1,female,NaN,0,1,55.0000,S,First,woman,False,E,Southampton,yes,False
167,0,3,female,45.00,1,4,27.9000,S,Third,woman,False,NaN,Southampton,no,False
168,0,1,male,NaN,0,0,25.9250,S,First,man,True,NaN,Southampton,no,True
169,0,3,male,28.00,0,0,56.4958,S,Third,man,True,NaN,Southampton,no,True
170,0,1,male,61.00,0,0,33.5000,S,First,man,True,B,Southampton,no,True
171,0,3,male,4.00,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
172,1,3,female,1.00,1,1,11.1333,S,Third,child,False,NaN,Southampton,yes,False
173,0,3,male,21.00,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
174,0,1,male,56.00,0,0,30.6958,C,First,man,True,A,Cherbourg,no,True
175,0,3,male,18.00,1,1,7.8542,S,Third,man,True,NaN,Southampton,no,False
176,0,3,male,NaN,3,1,25.4667,S,Third,man,True,NaN,Southampton,no,False
177,0,1,female,50.00,0,0,28.7125,C,First,woman,False,C,Cherbourg,no,True
178,0,2,male,30.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
179,0,3,male,36.00,0,0,0.0000,S,Third,man,True,NaN,Southampton,no,True
180,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
181,0,2,male,NaN,0,0,15.0500,C,Second,man,True,NaN,Cherbourg,no,True
182,0,3,male,9.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,no,False
183,1,2,male,1.00,2,1,39.0000,S,Second,child,False,F,Southampton,yes,False
184,1,3,female,4.00,0,2,22.0250,S,Third,child,False,NaN,Southampton,yes,False
185,0,1,male,NaN,0,0,50.0000,S,First,man,True,A,Southampton,no,True
186,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
187,1,1,male,45.00,0,0,26.5500,S,First,man,True,NaN,Southampton,yes,True
188,0,3,male,40.00,1,1,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
189,0,3,male,36.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
190,1,2,female,32.00,0,0,13.0000,S,Second,woman,False,NaN,Southampton,yes,True
191,0,2,male,19.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
192,1,3,female,19.00,1,0,7.8542,S,Third,woman,False,NaN,Southampton,yes,False
193,1,2,male,3.00,1,1,26.0000,S,Second,child,False,F,Southampton,yes,False
194,1,1,female,44.00,0,0,27.7208,C,First,woman,False,B,Cherbourg,yes,True
195,1,1,female,58.00,0,0,146.5208,C,First,woman,False,B,Cherbourg,yes,True
196,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
197,0,3,male,42.00,0,1,8.4042,S,Third,man,True,NaN,Southampton,no,False
198,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
199,0,2,female,24.00,0,0,13.0000,S,Second,woman,False,NaN,Southampton,no,True
200,0,3,male,28.00,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
201,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
202,0,3,male,34.00,0,0,6.4958,S,Third,man,True,NaN,Southampton,no,True
203,0,3,male,45.50,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
204,1,3,male,18.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,yes,True
205,0,3,female,2.00,0,1,10.4625,S,Third,child,False,G,Southampton,no,False
206,0,3,male,32.00,1,0,15.8500,S,Third,man,True,NaN,Southampton,no,False
207,1,3,male,26.00,0,0,18.7875,C,Third,man,True,NaN,Cherbourg,yes,True
208,1,3,female,16.00,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
209,1,1,male,40.00,0,0,31.0000,C,First,man,True,A,Cherbourg,yes,True
210,0,3,male,24.00,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
211,1,2,female,35.00,0,0,21.0000,S,Second,woman,False,NaN,Southampton,yes,True
212,0,3,male,22.00,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
213,0,2,male,30.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
214,0,3,male,NaN,1,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,False
215,1,1,female,31.00,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
216,1,3,female,27.00,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
217,0,2,male,42.00,1,0,27.0000,S,Second,man,True,NaN,Southampton,no,False
218,1,1,female,32.00,0,0,76.2917,C,First,woman,False,D,Cherbourg,yes,True
219,0,2,male,30.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
220,1,3,male,16.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,yes,True
221,0,2,male,27.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
222,0,3,male,51.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
223,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
224,1,1,male,38.00,1,0,90.0000,S,First,man,True,C,Southampton,yes,False
225,0,3,male,22.00,0,0,9.3500,S,Third,man,True,NaN,Southampton,no,True
226,1,2,male,19.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,yes,True
227,0,3,male,20.50,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
228,0,2,male,18.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
229,0,3,female,NaN,3,1,25.4667,S,Third,woman,False,NaN,Southampton,no,False
230,1,1,female,35.00,1,0,83.4750,S,First,woman,False,C,Southampton,yes,False
231,0,3,male,29.00,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
232,0,2,male,59.00,0,0,13.5000,S,Second,man,True,NaN,Southampton,no,True
233,1,3,female,5.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,yes,False
234,0,2,male,24.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
235,0,3,female,NaN,0,0,7.5500,S,Third,woman,False,NaN,Southampton,no,True
236,0,2,male,44.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
237,1,2,female,8.00,0,2,26.2500,S,Second,child,False,NaN,Southampton,yes,False
238,0,2,male,19.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
239,0,2,male,33.00,0,0,12.2750,S,Second,man,True,NaN,Southampton,no,True
240,0,3,female,NaN,1,0,14.4542,C,Third,woman,False,NaN,Cherbourg,no,False
241,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
242,0,2,male,29.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
243,0,3,male,22.00,0,0,7.1250,S,Third,man,True,NaN,Southampton,no,True
244,0,3,male,30.00,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
245,0,1,male,44.00,2,0,90.0000,Q,First,man,True,C,Queenstown,no,False
246,0,3,female,25.00,0,0,7.7750,S,Third,woman,False,NaN,Southampton,no,True
247,1,2,female,24.00,0,2,14.5000,S,Second,woman,False,NaN,Southampton,yes,False
248,1,1,male,37.00,1,1,52.5542,S,First,man,True,D,Southampton,yes,False
249,0,2,male,54.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
250,0,3,male,NaN,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
251,0,3,female,29.00,1,1,10.4625,S,Third,woman,False,G,Southampton,no,False
252,0,1,male,62.00,0,0,26.5500,S,First,man,True,C,Southampton,no,True
253,0,3,male,30.00,1,0,16.1000,S,Third,man,True,NaN,Southampton,no,False
254,0,3,female,41.00,0,2,20.2125,S,Third,woman,False,NaN,Southampton,no,False
255,1,3,female,29.00,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,yes,False
256,1,1,female,NaN,0,0,79.2000,C,First,woman,False,NaN,Cherbourg,yes,True
257,1,1,female,30.00,0,0,86.5000,S,First,woman,False,B,Southampton,yes,True
258,1,1,female,35.00,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
259,1,2,female,50.00,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
260,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
261,1,3,male,3.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,yes,False
262,0,1,male,52.00,1,1,79.6500,S,First,man,True,E,Southampton,no,False
263,0,1,male,40.00,0,0,0.0000,S,First,man,True,B,Southampton,no,True
264,0,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,no,True
265,0,2,male,36.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
266,0,3,male,16.00,4,1,39.6875,S,Third,man,True,NaN,Southampton,no,False
267,1,3,male,25.00,1,0,7.7750,S,Third,man,True,NaN,Southampton,yes,False
268,1,1,female,58.00,0,1,153.4625,S,First,woman,False,C,Southampton,yes,False
269,1,1,female,35.00,0,0,135.6333,S,First,woman,False,C,Southampton,yes,True
270,0,1,male,NaN,0,0,31.0000,S,First,man,True,NaN,Southampton,no,True
271,1,3,male,25.00,0,0,0.0000,S,Third,man,True,NaN,Southampton,yes,True
272,1,2,female,41.00,0,1,19.5000,S,Second,woman,False,NaN,Southampton,yes,False

In [26]:
df_original.shape

(891, 15)

7-1.

An example of 'use case' when df.dropna() might be preferred over using del df['col']

When we have a list of classmates but some of their information are missing because they are not coming, we use df.dropna() to clear all of the classmates who are not coming.

7-2.

An exmaple of 'use case' when del df['col'] might be preferred over using df.dropna()

When we want to delete whole column of information. If "age" is not important for employee information, then we can delete the whole column.

7-3.

The reason why doing del df['col'] first is because this makes the data cleaner and won't delete false data. For example, if the missing information is in the column we're deleting, deleting the column first change the row from missing info to not missing info.

7-4

Before: Before using df_copy.dropna() and del df_copy['col'], there are 391 rows and 11 columns. 

After: After using df_copy.dropna() and del df_copy['col'], there are 379 rows and 10 columns. Because 14 rows that have missing values were deleted by using df_copy.dropna() and 1 specific column was deleted by using del df_copy['col']

Chatgpy summary: 

---

**Summary of Interaction:**

In our discussion, we covered the following key points regarding handling and modifying DataFrames in Python using the `pandas` library:

1. **Saving and Restoring DataFrames:**
   - **Saving a DataFrame:** Use the `to_csv()` method to save a DataFrame to a CSV file for future reference.
   - **Loading a DataFrame:** Use `pd.read_csv()` to load a DataFrame from a CSV file.
   - **Creating a Backup:** Use `df.copy()` to create a copy of the DataFrame to preserve the original data before making modifications.

2. **Using `dropna()` Method:**
   - **Functionality:** The `dropna()` method is used to remove missing values from a DataFrame.
   - **In-Place Operation:** Use the `inplace=True` parameter if you want to modify the DataFrame in place, or assign the result back to the original DataFrame.

3. **Accessing Original Data:**
   - **Restoring Data:** If modifications are made, you can revert to the original DataFrame using the backup created earlier.

4. **Order of Operations:**
   - **Deleting Columns Before `dropna()`:** Removing unnecessary columns before applying `dropna()` can improve performance and reduce memory usage. It ensures that `dropna()` operates only on relevant columns and avoids unintended consequences.

---

Chatgpt chat log history link: https://chatgpt.com/share/ea724ff4-a5cc-4a93-8422-a27c70b0b7fb

In [12]:
import pandas as pd
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
dm = pd.read_csv(url)

pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns

dm

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.00,1,0,11668,21.0000,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.00,1,0,2926,26.0000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
56,57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
61,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
80,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
83,84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
84,85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3,0,3101278,15.8500,NaN,S
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
89,90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
90,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
94,95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S
100,101,0,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,NaN,S
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
102,103,0,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D26,S
103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.00,0,0,7540,8.6542,NaN,S
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.00,2,0,3101276,7.9250,NaN,S
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.00,0,0,349207,7.8958,NaN,S
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.00,0,0,343120,7.6500,NaN,S
107,108,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S
108,109,0,3,"Rekic, Mr. Tido",male,38.00,0,0,349249,7.8958,NaN,S
109,110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.00,0,0,110465,52.0000,C110,S
111,112,0,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C
112,113,0,3,"Barton, Mr. David John",male,22.00,0,0,324669,8.0500,NaN,S
113,114,0,3,"Jussila, Miss. Katriina",female,20.00,1,0,4136,9.8250,NaN,S
114,115,0,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,NaN,C
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S
116,117,0,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,7.7500,NaN,Q
117,118,0,2,"Turpin, Mr. William John Robert",male,29.00,1,0,11668,21.0000,NaN,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S
120,121,0,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S
121,122,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S
122,123,0,2,"Nasser, Mr. Nicholas",male,32.50,1,0,237736,30.0708,NaN,C
123,124,1,2,"Webber, Miss. Susan",female,32.50,0,0,27267,13.0000,E101,S
124,125,0,1,"White, Mr. Percival Wayland",male,54.00,0,1,35281,77.2875,D26,S
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C
126,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S
128,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C
129,130,0,3,"Ekstrom, Mr. Johan",male,45.00,0,0,347061,6.9750,NaN,S
130,131,0,3,"Drazenoic, Mr. Jozef",male,33.00,0,0,349241,7.8958,NaN,C
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,NaN,S
133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,NaN,S
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.00,0,0,C.A. 29178,13.0000,NaN,S
135,136,0,2,"Richard, Mr. Emile",male,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C
136,137,1,1,"Newsom, Miss. Helen Monypeny",female,19.00,0,2,11752,26.2833,D47,S
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.00,1,0,113803,53.1000,C123,S
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S
139,140,0,1,"Giglio, Mr. Victor",male,24.00,0,0,PC 17593,79.2000,B86,C
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.00,0,0,347081,7.7500,NaN,S
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S
143,144,0,3,"Burke, Mr. Jeremiah",male,19.00,0,0,365222,6.7500,NaN,Q
144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.00,0,0,231945,11.5000,NaN,S
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.00,1,1,C.A. 33112,36.7500,NaN,S
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.50,0,2,230080,26.0000,F2,S
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,NaN,S
150,151,0,2,"Bateman, Rev. Robert James",male,51.00,0,0,S.O.P. 1166,12.5250,NaN,S
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.00,1,0,113776,66.6000,C2,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.50,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.50,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C
156,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0,0,35851,7.7333,NaN,Q
157,158,0,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S
158,159,0,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,NaN,S
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S
160,161,0,3,"Cribb, Mr. John Hatfield",male,44.00,0,1,371362,16.1000,NaN,S
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.00,0,0,C.A. 33595,15.7500,NaN,S
162,163,0,3,"Bengtsson, Mr. John Viktor",male,26.00,0,0,347068,7.7750,NaN,S
163,164,0,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S
166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.00,1,4,347088,27.9000,NaN,S
168,169,0,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S
169,170,0,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,NaN,S
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.00,0,0,111240,33.5000,B19,S
171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
174,175,0,1,"Smith, Mr. James Clinch",male,56.00,0,0,17764,30.6958,A7,C
175,176,0,3,"Klasen, Mr. Klas Albin",male,18.00,1,1,350404,7.8542,NaN,S
176,177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.00,0,0,PC 17595,28.7125,C49,C
178,179,0,2,"Hale, Mr. Reginald",male,30.00,0,0,250653,13.0000,NaN,S
179,180,0,3,"Leonard, Mr. Lionel",male,36.00,0,0,LINE,0.0000,NaN,S
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S
181,182,0,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S
185,186,0,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A32,S
186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,NaN,S
188,189,0,3,"Bourke, Mr. John",male,40.00,1,1,364849,15.5000,NaN,Q
189,190,0,3,"Turcin, Mr. Stjepan",male,36.00,0,0,349247,7.8958,NaN,S
190,191,1,2,"Pinsky, Mrs. (Rosa)",female,32.00,0,0,234604,13.0000,NaN,S
191,192,0,2,"Carbines, Mr. William",male,19.00,0,0,28424,13.0000,NaN,S
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1,0,350046,7.8542,NaN,S
193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S
194,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.00,0,0,PC 17610,27.7208,B4,C
195,196,1,1,"Lurette, Miss. Elise",female,58.00,0,0,PC 17569,146.5208,B80,C
196,197,0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.00,0,1,4579,8.4042,NaN,S
198,199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.00,0,0,248747,13.0000,NaN,S
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.00,0,0,3101264,6.4958,NaN,S
203,204,0,3,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7.2250,NaN,C
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S
206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.00,1,0,3101278,15.8500,NaN,S
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C
208,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q
209,210,1,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C
210,211,0,3,"Ali, Mr. Ahmed",male,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
211,212,1,2,"Cameron, Miss. Clear Annie",female,35.00,0,0,F.C.C. 13528,21.0000,NaN,S
212,213,0,3,"Perkin, Mr. John Henry",male,22.00,0,0,A/5 21174,7.2500,NaN,S
213,214,0,2,"Givard, Mr. Hans Kristensen",male,30.00,0,0,250646,13.0000,NaN,S
214,215,0,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,NaN,Q
215,216,1,1,"Newell, Miss. Madeleine",female,31.00,1,0,35273,113.2750,D36,C
216,217,1,3,"Honkanen, Miss. Eliina",female,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,NaN,S
218,219,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C
219,220,0,2,"Harris, Mr. Walter",male,30.00,0,0,W/C 14208,10.5000,NaN,S
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
221,222,0,2,"Bracken, Mr. James H",male,27.00,0,0,220367,13.0000,NaN,S
222,223,0,3,"Green, Mr. George Henry",male,51.00,0,0,21440,8.0500,NaN,S
223,224,0,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.00,1,0,19943,90.0000,C93,S
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.00,0,0,PP 4348,9.3500,NaN,S
226,227,1,2,"Mellors, Mr. William John",male,19.00,0,0,SW/PP 751,10.5000,NaN,S
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.50,0,0,A/5 21173,7.2500,NaN,S
228,229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.00,0,0,236171,13.0000,NaN,S
229,230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S
230,231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.00,1,0,36973,83.4750,C83,S
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.00,0,0,347067,7.7750,NaN,S
232,233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59.00,0,0,237442,13.5000,NaN,S
233,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,NaN,S
234,235,0,2,"Leyson, Mr. Robert William Norman",male,24.00,0,0,C.A. 29566,10.5000,NaN,S
235,236,0,3,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,NaN,S
236,237,0,2,"Hold, Mr. Stephen",male,44.00,1,0,26707,26.0000,NaN,S
237,238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.00,0,2,C.A. 31921,26.2500,NaN,S
238,239,0,2,"Pengelly, Mr. Frederick William",male,19.00,0,0,28665,10.5000,NaN,S
239,240,0,2,"Hunt, Mr. George Henry",male,33.00,0,0,SCO/W 1585,12.2750,NaN,S
240,241,0,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
241,242,1,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q
242,243,0,2,"Coleridge, Mr. Reginald Charles",male,29.00,0,0,W./C. 14263,10.5000,NaN,S
243,244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.00,0,0,STON/O 2. 3101275,7.1250,NaN,S
244,245,0,3,"Attalah, Mr. Sleiman",male,30.00,0,0,2694,7.2250,NaN,C
245,246,0,1,"Minahan, Dr. William Edward",male,44.00,2,0,19928,90.0000,C78,Q
246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.00,0,0,347071,7.7750,NaN,S
247,248,1,2,"Hamalainen, Mrs. William (Anna)",female,24.00,0,2,250649,14.5000,NaN,S
248,249,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S
249,250,0,2,"Carter, Rev. Ernest Courtenay",male,54.00,1,0,244252,26.0000,NaN,S
250,251,0,3,"Reed, Mr. James George",male,NaN,0,0,362316,7.2500,NaN,S
251,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.00,1,1,347054,10.4625,G6,S
252,253,0,1,"Stead, Mr. William Thomas",male,62.00,0,0,113514,26.5500,C87,S
253,254,0,3,"Lobb, Mr. William Arthur",male,30.00,1,0,A/5. 3336,16.1000,NaN,S

Another dataset other than titanic.

In [32]:
dm.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [31]:
dm.groupby("Sex")["Cabin"].describe()

       count unique top freq
Sex
female    97     75  G6    4
male     107     96  F2    3

There are 687 missing values in cabin, so the count value is 891-687 = 204, which is 97+107.

8-1.

'df.groupby("col1")["col2"].describe()' groups the Dataframe by the unique values in 'col1', and displays statistics for 'col2' for each group

For non-numeric column, there are count, unique, top, and freq.

1) count: the number of non-null entries
2) unique: the number of unique values in the column (how many different values)
3) top: the most frequent value (the mode)
4) freq: the frequency of the most frequent value (number of top)

In [13]:
dm.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

8-2.

Difference between 'count' value in df.describe() and df.groupby("col1")["col2"].describe() :

df.describe() -> The count value in here represents the number of non-null values in each column.

df.groupby("col1")["col2"].describe() -> The count value in here represents the number of non-null entries in col2 for each group of col1

'count' in the context of df.groupby is important for understanding the size and representativeness of each group within your data

In [1]:
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns

print(df)

NameError: name 'pd' is not defined

8-3. i. 

Forget to include "import pandas as pd" in your code

In my opinion, ChatBot is definitely faster at troubleshoot and fixing the coding error than google search because it immediately tells you how to correct the code while google search may have various answers, or sometimes even an unspecified answer.

In [3]:
import pandas as pd
url = "titanic.csv"
sb = pd.read_csv(url)

pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns

print(sb)

FileNotFoundError: [Errno 2] No such file or directory: 'titanic.csv'

In [4]:
import pandas as pd
url = "https://raws.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
sb = pd.read_csv(url)

pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns

print(sb)

HTTPError: HTTP Error 500: Domain Not Found

In [6]:
import pandas as pd
url = "https://raw.githubusercontentt.com//mwaskom/seaborn-data/master/titanic.csv"
sb = pd.read_csv(url)

pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns

print(sb)

URLError: <urlopen error [Errno -2] Name or service not known>

8-3. ii. Mistype "titanic.csv as "titanics.csv

There are different types of errors when making changes in the url (such as gaierror, HTTP Error, or URL Error)

In [13]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns

df

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...
5,8,alice,Alice,female,koala,8-19,normal,Surfin' K.K.,guvnor,villager-alice,https://villagerdb.com/images/villagers/thumb/...
6,9,alli,Alli,female,alligator,11-8,snooty,K.K. Chorale,graaagh,villager-alli,https://villagerdb.com/images/villagers/thumb/...
7,10,amelia,Amelia,female,eagle,11-19,snooty,K.K. Condor,eaglet,villager-amelia,https://villagerdb.com/images/villagers/thumb/...
8,11,anabelle,Anabelle,female,anteater,2-16,peppy,Aloha K.K.,snorty,villager-anabelle,https://villagerdb.com/images/villagers/thumb/...
9,13,anchovy,Anchovy,male,bird,3-4,lazy,K.K. Ragtime,chuurp,villager-anchovy,https://villagerdb.com/images/villagers/thumb/...
10,14,angus,Angus,male,bull,4-30,cranky,Senor K.K.,macmoo,villager-angus,https://villagerdb.com/images/villagers/thumb/...
11,15,anicotti,Anicotti,female,mouse,2-24,peppy,Neapolitan,cannoli,villager-anicotti,https://villagerdb.com/images/villagers/thumb/...
12,16,ankha,Ankha,female,cat,9-22,snooty,Marine Song 2001,me meow,villager-ankha,https://villagerdb.com/images/villagers/thumb/...
13,17,annalisa,Annalisa,female,anteater,2-6,normal,King K.K.,gumdrop,villager-annalisa,https://villagerdb.com/images/villagers/thumb/...
14,18,annalise,Annalise,female,horse,12-2,snooty,K.K. Sonata,nipper,villager-annalise,https://villagerdb.com/images/villagers/thumb/...
15,19,antonio,Antonio,male,anteater,10-20,jock,K.K. Faire,honk,villager-antonio,https://villagerdb.com/images/villagers/thumb/...
16,20,apollo,Apollo,male,eagle,7-4,cranky,K.K. Rock,pah,villager-apollo,https://villagerdb.com/images/villagers/thumb/...
17,21,apple,Apple,female,hamster,9-24,peppy,I Love You,cheekers,villager-apple,https://villagerdb.com/images/villagers/thumb/...
18,22,astrid,Astrid,female,kangaroo,9-8,snooty,I Love You,my pet,villager-astrid,https://villagerdb.com/images/villagers/thumb/...
19,23,audie,Audie,female,wolf,8-31,peppy,NaN,foxtrot,villager-audie,https://villagerdb.com/images/villagers/thumb/...
20,24,aurora,Aurora,female,penguin,1-27,normal,K.K. Gumbo,b-b-baby,villager-aurora,https://villagerdb.com/images/villagers/thumb/...
21,25,ava,Ava,female,chicken,4-28,normal,K.K. Country,beaker,villager-ava,https://villagerdb.com/images/villagers/thumb/...
22,26,avery,Avery,male,eagle,2-22,cranky,K.K. Condor,skree-haw,villager-avery,https://villagerdb.com/images/villagers/thumb/...
23,27,axel,Axel,male,elephant,3-23,jock,K.K. Dixie,WHONK,villager-axel,https://villagerdb.com/images/villagers/thumb/...
24,29,baabara,Baabara,female,sheep,3-28,snooty,K.K. Swing,daahling,villager-baabara,https://villagerdb.com/images/villagers/thumb/...
25,30,bam,Bam,male,deer,11-7,jock,DJ K.K.,boosh,villager-bam,https://villagerdb.com/images/villagers/thumb/...
26,31,bangle,Bangle,female,tiger,8-27,peppy,K.K. Soul,growf,villager-bangle,https://villagerdb.com/images/villagers/thumb/...
27,32,barold,Barold,male,cub,3-2,lazy,My Place,cubby,villager-barold,https://villagerdb.com/images/villagers/thumb/...
28,33,bea,Bea,female,dog,10-15,normal,K.K. Soul,bingo,villager-bea,https://villagerdb.com/images/villagers/thumb/...
29,34,beardo,Beardo,male,bear,9-27,smug,K.K. Sonata,whiskers,villager-beardo,https://villagerdb.com/images/villagers/thumb/...
30,35,beau,Beau,male,deer,4-5,lazy,Mountain Song,saltlick,villager-beau,https://villagerdb.com/images/villagers/thumb/...
31,36,becky,Becky,female,chicken,12-9,snooty,K.K. Aria,chicklet,villager-becky,https://villagerdb.com/images/villagers/thumb/...
32,37,bella,Bella,female,mouse,12-28,peppy,K.K. Metal,eeks,villager-bella,https://villagerdb.com/images/villagers/thumb/...
33,39,benedict,Benedict,male,chicken,10-10,lazy,I Love You,uh-hoo,villager-benedict,https://villagerdb.com/images/villagers/thumb/...
34,40,benjamin,Benjamin,male,dog,8-3,lazy,Wandering,alrighty,villager-benjamin,https://villagerdb.com/images/villagers/thumb/...
35,41,bertha,Bertha,female,hippo,4-25,normal,Space K.K.,bloop,villager-bertha,https://villagerdb.com/images/villagers/thumb/...
36,43,bettina,Bettina,female,mouse,6-12,normal,K.K. Swing,eekers,villager-bettina,https://villagerdb.com/images/villagers/thumb/...
37,45,bianca,Bianca,female,tiger,12-13,peppy,K.K. House,glimmer,villager-bianca,https://villagerdb.com/images/villagers/thumb/...
38,46,biff,Biff,male,hippo,3-29,jock,The K. Funk,squirt,villager-biff,https://villagerdb.com/images/villagers/thumb/...
39,47,big-top,Big Top,male,elephant,10-3,lazy,K.K. Metal,villain,villager-big-top,https://villagerdb.com/images/villagers/thumb/...
40,48,bill,Bill,male,duck,2-1,jock,King K.K.,quacko,villager-bill,https://villagerdb.com/images/villagers/thumb/...
41,49,billy,Billy,male,goat,3-25,jock,K.K. Sonata,dagnaabit,villager-billy,https://villagerdb.com/images/villagers/thumb/...
42,50,biskit,Biskit,male,dog,5-13,lazy,K.K. Mambo,dawg,villager-biskit,https://villagerdb.com/images/villagers/thumb/...
43,51,bitty,Bitty,female,hippo,10-6,snooty,K.K. Disco,my dear,villager-bitty,https://villagerdb.com/images/villagers/thumb/...
44,52,blaire,Blaire,female,squirrel,7-3,snooty,K.K. Island,nutlet,villager-blaire,https://villagerdb.com/images/villagers/thumb/...
45,53,blanche,Blanche,female,ostrich,12-21,snooty,K.K. Jongara,quite so,villager-blanche,https://villagerdb.com/images/villagers/thumb/...
46,55,bluebear,Bluebear,female,cub,6-24,peppy,K.K. Ska,peach,villager-bluebear,https://villagerdb.com/images/villagers/thumb/...
47,56,bob,Bob,male,cat,1-1,lazy,K.K. Ragtime,pthhhpth,villager-bob,https://villagerdb.com/images/villagers/thumb/...
48,57,bonbon,Bonbon,female,rabbit,3-3,peppy,K.K. Disco,deelish,villager-bonbon,https://villagerdb.com/images/villagers/thumb/...
49,58,bones,Bones,male,dog,8-4,lazy,Forest Life,yip yip,villager-bones,https://villagerdb.com/images/villagers/thumb/...
50,59,boomer,Boomer,male,penguin,2-7,lazy,Aloha K.K.,tu-tutu,villager-boomer,https://villagerdb.com/images/villagers/thumb/...
51,60,boone,Boone,male,gorilla,9-12,jock,K.K. Western,baboom,villager-boone,https://villagerdb.com/images/villagers/thumb/...
52,61,boots,Boots,male,alligator,8-7,jock,K.K. Rally,munchie,villager-boots,https://villagerdb.com/images/villagers/thumb/...
53,62,boris,Boris,male,pig,11-6,cranky,K.K. House,schnort,villager-boris,https://villagerdb.com/images/villagers/thumb/...
54,64,boyd,Boyd,male,gorilla,10-1,cranky,K.K. Groove,uh-oh,villager-boyd,https://villagerdb.com/images/villagers/thumb/...
55,65,bree,Bree,female,mouse,7-7,snooty,Two Days Ago,cheeseball,villager-bree,https://villagerdb.com/images/villagers/thumb/...
56,66,broccolo,Broccolo,male,mouse,6-30,lazy,K.K. Ragtime,eat it,villager-broccolo,https://villagerdb.com/images/villagers/thumb/...
57,67,broffina,Broffina,female,chicken,10-24,snooty,K.K. Flamenco,cluckadoo,villager-broffina,https://villagerdb.com/images/villagers/thumb/...
58,68,bruce,Bruce,male,deer,5-26,cranky,K.K. Blues,gruff,villager-bruce,https://villagerdb.com/images/villagers/thumb/...
59,69,bubbles,Bubbles,female,hippo,9-18,peppy,K.K. Stroll,hipster,villager-bubbles,https://villagerdb.com/images/villagers/thumb/...
60,70,buck,Buck,male,horse,4-4,jock,My Place,pardner,villager-buck,https://villagerdb.com/images/villagers/thumb/...
61,71,bud,Bud,male,lion,8-8,jock,K.K. Ska,maaan,villager-bud,https://villagerdb.com/images/villagers/thumb/...
62,72,bunnie,Bunnie,female,rabbit,5-9,peppy,K.K. Aria,tee-hee,villager-bunnie,https://villagerdb.com/images/villagers/thumb/...
63,73,butch,Butch,male,dog,11-1,cranky,K.K. Fusion,ROOOOOWF,villager-butch,https://villagerdb.com/images/villagers/thumb/...
64,74,buzz,Buzz,male,eagle,12-7,cranky,K.K. Rally,captain,villager-buzz,https://villagerdb.com/images/villagers/thumb/...
65,75,cally,Cally,female,squirrel,9-4,normal,K.K. Love Song,WHEE,villager-cally,https://villagerdb.com/images/villagers/thumb/...
66,76,camofrog,Camofrog,male,frog,6-5,cranky,K.K. Rock,ten-hut,villager-camofrog,https://villagerdb.com/images/villagers/thumb/...
67,77,canberra,Canberra,female,koala,5-14,uchi,K.K. House,nuh uh,villager-canberra,https://villagerdb.com/images/villagers/thumb/...
68,78,candi,Candi,female,mouse,4-13,peppy,K.K. Ragtime,sweetie,villager-candi,https://villagerdb.com/images/villagers/thumb/...
69,80,carmen2,Carmen,female,rabbit,1-6,peppy,K.K. Technopop,nougat,villager-carmen2,https://villagerdb.com/images/villagers/thumb/...
70,81,caroline,Caroline,female,squirrel,7-15,normal,DJ K.K.,hulaaaa,villager-caroline,https://villagerdb.com/images/villagers/thumb/...
71,82,carrie,Carrie,female,kangaroo,12-5,normal,K.K. Lullaby,little one,villager-carrie,https://villagerdb.com/images/villagers/thumb/...
72,84,cashmere,Cashmere,female,sheep,4-2,snooty,K.K. Country,baaaby,villager-cashmere,https://villagerdb.com/images/villagers/thumb/...
73,86,celia,Celia,female,eagle,3-25,normal,K.K. Aria,feathers,villager-celia,https://villagerdb.com/images/villagers/thumb/...
74,87,cesar,Cesar,male,gorilla,9-6,cranky,K.K. Lament,Highness,villager-cesar,https://villagerdb.com/images/villagers/thumb/...
75,88,chadder,Chadder,male,mouse,12-15,smug,K.K. Soul,fromage,villager-chadder,https://villagerdb.com/images/villagers/thumb/...
76,92,charlise,Charlise,female,bear,4-17,uchi,Mr. K.K.,urgh,villager-charlise,https://villagerdb.com/images/villagers/thumb/...
77,94,cheri,Cheri,female,cub,3-17,peppy,K.K. Synth,tralala,villager-cheri,https://villagerdb.com/images/villagers/thumb/...
78,95,cherry,Cherry,female,dog,5-11,uchi,K.K. Fusion,what what,villager-cherry,https://villagerdb.com/images/villagers/thumb/...
79,96,chester,Chester,male,cub,8-6,lazy,Imperial K.K.,rookie,villager-chester,https://villagerdb.com/images/villagers/thumb/...
80,97,chevre,Chevre,female,goat,3-6,normal,K.K. Chorale,la baa,villager-chevre,https://villagerdb.com/images/villagers/thumb/...
81,99,chief,Chief,male,wolf,12-19,cranky,DJ K.K.,harrumph,villager-chief,https://villagerdb.com/images/villagers/thumb/...
82,100,chops,Chops,male,pig,10-13,smug,K.K. Moody,Zoink,villager-chops,https://villagerdb.com/images/villagers/thumb/...
83,101,chow,Chow,male,bear,7-22,cranky,K.K. Steppe,aiya,villager-chow,https://villagerdb.com/images/villagers/thumb/...
84,102,chrissy,Chrissy,female,rabbit,8-28,peppy,K.K. Waltz,sparkles,villager-chrissy,https://villagerdb.com/images/villagers/thumb/...
85,105,claude,Claude,male,rabbit,12-3,lazy,Pondering,hopalong,villager-claude,https://villagerdb.com/images/villagers/thumb/...
86,106,claudia,Claudia,female,tiger,11-22,snooty,K.K. Synth,ooh la la,villager-claudia,https://villagerdb.com/images/villagers/thumb/...
87,107,clay,Clay,male,hamster,10-19,lazy,K.K. Safari,thump,villager-clay,https://villagerdb.com/images/villagers/thumb/...
88,108,cleo,Cleo,female,horse,2-9,snooty,K.K. Synth,sugar,villager-cleo,https://villagerdb.com/images/villagers/thumb/...
89,109,clyde,Clyde,male,horse,5-1,lazy,K.K. Dixie,clip-clawp,villager-clyde,https://villagerdb.com/images/villagers/thumb/...
90,110,coach,Coach,male,bull,4-29,jock,Marine Song 2001,stubble,villager-coach,https://villagerdb.com/images/villagers/thumb/...
91,111,cobb,Cobb,male,pig,10-7,jock,Pondering,hot dog,villager-cobb,https://villagerdb.com/images/villagers/thumb/...
92,112,coco,Coco,female,rabbit,3-1,normal,K.K. Dirge,doyoing,villager-coco,https://villagerdb.com/images/villagers/thumb/...
93,113,cole,Cole,male,rabbit,8-10,lazy,Spring Blossoms,duuude,villager-cole,https://villagerdb.com/images/villagers/thumb/...
94,114,colton,Colton,male,horse,5-22,smug,Only Me,check it,villager-colton,https://villagerdb.com/images/villagers/thumb/...
95,115,cookie,Cookie,female,dog,6-18,peppy,DJ K.K.,arfer,villager-cookie,https://villagerdb.com/images/villagers/thumb/...
96,116,cousteau,Cousteau,male,frog,12-17,jock,Imperial K.K.,oui oui,villager-cousteau,https://villagerdb.com/images/villagers/thumb/...
97,117,cranston,Cranston,male,ostrich,9-23,lazy,Steep Hill,sweatband,villager-cranston,https://villagerdb.com/images/villagers/thumb/...
98,118,croque,Croque,male,frog,7-18,cranky,K.K. Jongara,as if,villager-croque,https://villagerdb.com/images/villagers/thumb/...
99,119,cube,Cube,male,penguin,1-29,lazy,K.K. Technopop,d-d-dude,villager-cube,https://villagerdb.com/images/villagers/thumb/...
100,121,curlos,Curlos,male,sheep,5-8,smug,K.K. Samba,shearly,villager-curlos,https://villagerdb.com/images/villagers/thumb/...
101,122,curly,Curly,male,pig,7-26,jock,K.K. Reggae,nyoink,villager-curly,https://villagerdb.com/images/villagers/thumb/...
102,123,curt,Curt,male,bear,7-1,cranky,K.K. Lament,fuzzball,villager-curt,https://villagerdb.com/images/villagers/thumb/...
103,124,cyd,Cyd,male,elephant,6-9,cranky,NaN,rockin',villager-cyd,https://villagerdb.com/images/villagers/thumb/...
104,125,cyrano,Cyrano,male,anteater,3-9,cranky,K.K. Faire,ah-CHOO,villager-cyrano,https://villagerdb.com/images/villagers/thumb/...
105,126,daisy,Daisy,female,dog,11-16,normal,K.K. Soul,bow-WOW,villager-daisy,https://villagerdb.com/images/villagers/thumb/...
106,127,deena,Deena,female,duck,6-27,normal,Mr. K.K.,sugarbill,villager-deena,https://villagerdb.com/images/villagers/thumb/...
107,128,deirdre,Deirdre,female,deer,5-4,uchi,K.K. Cruisin',whatevs,villager-deirdre,https://villagerdb.com/images/villagers/thumb/...
108,129,del,Del,male,alligator,5-27,cranky,K.K. March,gronk,villager-del,https://villagerdb.com/images/villagers/thumb/...
109,130,deli,Deli,male,monkey,5-24,lazy,K.K. Marathon,monch,villager-deli,https://villagerdb.com/images/villagers/thumb/...
110,131,derwin,Derwin,male,duck,5-25,lazy,The K. Funk,derrrrr,villager-derwin,https://villagerdb.com/images/villagers/thumb/...
111,132,diana,Diana,female,deer,1-4,snooty,Stale Cupcakes,no doy,villager-diana,https://villagerdb.com/images/villagers/thumb/...
112,133,diva,Diva,female,frog,10-2,uchi,K.K. Bazaar,ya know,villager-diva,https://villagerdb.com/images/villagers/thumb/...
113,134,dizzy,Dizzy,male,elephant,7-14,lazy,K.K. Gumbo,woo-oo,villager-dizzy,https://villagerdb.com/images/villagers/thumb/...
114,135,dobie,Dobie,male,wolf,2-17,cranky,K.K. Lament,ohmmm,villager-dobie,https://villagerdb.com/images/villagers/thumb/...
115,136,doc,Doc,male,rabbit,3-16,lazy,Pondering,ol' bunny,villager-doc,https://villagerdb.com/images/villagers/thumb/...
116,137,dom,Dom,male,sheep,3-18,jock,NaN,indeedaroo,villager-dom,https://villagerdb.com/images/villagers/thumb/...
117,138,dora,Dora,female,mouse,2-18,normal,Only Me,squeaky,villager-dora,https://villagerdb.com/images/villagers/thumb/...
118,139,dotty,Dotty,female,rabbit,3-14,peppy,K.K. Technopop,wee one,villager-dotty,https://villagerdb.com/images/villagers/thumb/...
119,141,drago,Drago,male,alligator,2-12,lazy,Imperial K.K.,burrrn,villager-drago,https://villagerdb.com/images/villagers/thumb/...
120,142,drake,Drake,male,duck,6-25,lazy,K.K. Blues,quacko,villager-drake,https://villagerdb.com/images/villagers/thumb/...
121,143,drift,Drift,male,frog,10-9,jock,K.K. Country,brah,villager-drift,https://villagerdb.com/images/villagers/thumb/...
122,144,ed,Ed,male,horse,9-16,smug,K.K. Ballad,greenhorn,villager-ed,https://villagerdb.com/images/villagers/thumb/...
123,145,egbert,Egbert,male,chicken,10-14,lazy,K.K. Technopop,doodle-duh,villager-egbert,https://villagerdb.com/images/villagers/thumb/...
124,147,elise,Elise,female,monkey,3-21,snooty,Neapolitan,puh-lease,villager-elise,https://villagerdb.com/images/villagers/thumb/...
125,148,ellie,Ellie,female,elephant,5-12,normal,Cafe K.K.,wee one,villager-ellie,https://villagerdb.com/images/villagers/thumb/...
126,149,elmer,Elmer,male,horse,10-5,lazy,K.K. Waltz,tenderfoot,villager-elmer,https://villagerdb.com/images/villagers/thumb/...
127,150,eloise,Eloise,female,elephant,12-8,snooty,K.K. Jazz,tooooot,villager-eloise,https://villagerdb.com/images/villagers/thumb/...
128,151,elvis,Elvis,male,lion,7-23,cranky,K.K. Casbah,unh-hunh,villager-elvis,https://villagerdb.com/images/villagers/thumb/...
129,154,erik,Erik,male,deer,7-27,lazy,Neapolitan,chow down,villager-erik,https://villagerdb.com/images/villagers/thumb/...
130,156,eugene,Eugene,male,koala,10-26,smug,K.K. Cruisin',yeah buddy,villager-eugene,https://villagerdb.com/images/villagers/thumb/...
131,157,eunice,Eunice,female,sheep,4-3,normal,K.K. Waltz,lambchop,villager-eunice,https://villagerdb.com/images/villagers/thumb/...
132,159,fang,Fang,male,wolf,12-18,cranky,K.K. Calypso,cha-chomp,villager-fang,https://villagerdb.com/images/villagers/thumb/...
133,160,fauna,Fauna,female,deer,3-26,normal,K.K. Stroll,dearie,villager-fauna,https://villagerdb.com/images/villagers/thumb/...
134,161,felicity,Felicity,female,cat,3-30,peppy,K.K. Lullaby,mimimi,villager-felicity,https://villagerdb.com/images/villagers/thumb/...
135,163,filbert,Filbert,male,squirrel,6-3,lazy,Two Days Ago,bucko,villager-filbert,https://villagerdb.com/images/villagers/thumb/...
136,166,flip,Flip,male,monkey,11-21,jock,K.K. Rally,rerack,villager-flip,https://villagerdb.com/images/villagers/thumb/...
137,167,flo,Flo,female,penguin,9-2,uchi,Space K.K.,cha,villager-flo,https://villagerdb.com/images/villagers/thumb/...
138,168,flora,Flora,female,ostrich,2-9,peppy,K.K. Flamenco,pinky,villager-flora,https://villagerdb.com/images/villagers/thumb/...
139,170,flurry,Flurry,female,hamster,1-30,normal,Hypno K.K.,powderpuff,villager-flurry,https://villagerdb.com/images/villagers/thumb/...
140,171,francine,Francine,female,rabbit,1-22,snooty,I Love You,karat,villager-francine,https://villagerdb.com/images/villagers/thumb/...
141,172,frank,Frank,male,eagle,7-30,cranky,K.K. Casbah,crushy,villager-frank,https://villagerdb.com/images/villagers/thumb/...
142,173,freckles,Freckles,female,duck,2-19,peppy,K.K. Song,ducky,villager-freckles,https://villagerdb.com/images/villagers/thumb/...
143,174,freya,Freya,female,wolf,12-14,snooty,Rockin' K.K.,uff da,villager-freya,https://villagerdb.com/images/villagers/thumb/...
144,175,friga,Friga,female,penguin,10-16,snooty,K.K. Tango,brrmph,villager-friga,https://villagerdb.com/images/villagers/thumb/...
145,176,frita,Frita,female,sheep,7-16,uchi,K.K. Rockabilly,oh ewe,villager-frita,https://villagerdb.com/images/villagers/thumb/...
146,177,frobert,Frobert,male,frog,2-8,jock,My Place,fribbit,villager-frobert,https://villagerdb.com/images/villagers/thumb/...
147,179,fuchsia,Fuchsia,female,deer,9-19,uchi,K.K. Rock,girlfriend,villager-fuchsia,https://villagerdb.com/images/villagers/thumb/...
148,180,gabi,Gabi,female,rabbit,12-16,peppy,K.K. Love Song,honeybun,villager-gabi,https://villagerdb.com/images/villagers/thumb/...
149,181,gala,Gala,female,pig,3-5,normal,Two Days Ago,snortie,villager-gala,https://villagerdb.com/images/villagers/thumb/...
150,183,gaston,Gaston,male,rabbit,10-28,cranky,K.K. Dirge,mon chou,villager-gaston,https://villagerdb.com/images/villagers/thumb/...
151,184,gayle,Gayle,female,alligator,5-17,normal,Bubblegum K.K.,snacky,villager-gayle,https://villagerdb.com/images/villagers/thumb/...
152,186,genji,Genji,male,rabbit,1-21,jock,King K.K.,otaku,villager-genji,https://villagerdb.com/images/villagers/thumb/...
153,187,gigi,Gigi,female,frog,8-11,snooty,Only Me,ribette,villager-gigi,https://villagerdb.com/images/villagers/thumb/...
154,188,gladys,Gladys,female,ostrich,1-15,normal,K.K. Folk,stretch,villager-gladys,https://villagerdb.com/images/villagers/thumb/...
155,189,gloria,Gloria,female,duck,8-12,snooty,K.K. Milonga,quacker,villager-gloria,https://villagerdb.com/images/villagers/thumb/...

In [11]:
df.groupby('gender')['species'].describe()

       count unique   top freq
gender
female   187     33   cat   14
male     204     34  frog   13

In [12]:
Df.groupby('gender')['species'].describe()

NameError: name 'Df' is not defined

8-3. iii. Try using a dataFrame before it's been assigned into the variable

DataFrame and variable names are Case-sensitive, which means df and Df are considered as different variables

In [14]:
df.describe(

SyntaxError: incomplete input (3431639942.py, line 1)

8-3. iv.

SyntaxError shows when python encounters incomplete code that isn't preperly closed or finished.

In [15]:
df.group_by('gender')['species'].describe()

AttributeError: 'DataFrame' object has no attribute 'group_by'

8-3. v.

AttibuteError occurs because pandas DataFrame does not have a method called group_by

In [18]:
df.groupby('Gender')['species'].describe()

KeyError: 'Gender'

In [19]:
df.groupby('gender')['Species'].describe()

KeyError: 'Column not found: Species'

8-3. vi.

KeyError occurs in pandas when you try to access a column that doesn't exist in the DataFrame

In [21]:
df.groupby(gender)['species'].describe()

NameError: name 'gender' is not defined

In [22]:
df.groupby('gender')[species].describe()

NameError: name 'species' is not defined

8-3. vii.

NameError occurs because we need to provide the column name as a string, not a bare variable.

9. 

Yes, I have reviewed the course wiki-textbook and interacted with a CatBot to help me understand all the material in the tutorial and lecture that I didn't quite follow when I first saw it.

Chatgpt summary:

---

### Summary of Discussion

1. **DataFrame Analysis with `groupby()`**:
   - **Purpose**: We discussed the use of `df.groupby('column')` to group data in a DataFrame based on unique values in a column and then apply descriptive statistics on another column using `.describe()`.
   - **Code Example**: `df.groupby('gender')['species'].describe()` groups the DataFrame by the `'gender'` column and provides descriptive statistics for the `'species'` column.

2. **Error Handling in `pandas`**:
   - **`AttributeError`**: Occurs when calling a non-existent method (`df.group_by()` should be `df.groupby()`).
   - **`KeyError`**: Happens when referencing a column that does not exist in the DataFrame (e.g., `df.groupby('hand')` when `'hand'` is not a column).
   - **`NameError`**: Results from using an undefined name (e.g., `df.groupby(gender)` where `gender` is not defined; it should be `'gender'`).

3. **Case Sensitivity**:
   - **Python**: Variable names, method names, and column names are case-sensitive. Using incorrect case will result in errors.

4. **Column Names and Case Sensitivity**:
   - **Domain Names in URLs**: Not case-sensitive. Path and query parameters are case-sensitive.
   - **DataFrame Column Names**: Case-sensitive, so exact spelling and case must be used.

5. **Syntax and Code Completion**:
   - **SyntaxError**: Occurs when code is incomplete, such as missing closing parentheses.
   - **`SyntaxError: incomplete input`**: Indicates unfinished code that needs to be completed.

6. **Handling Errors**:
   - **Inspecting Columns**: Use `df.columns` to check available column names.
   - **Correcting Code**: Ensure correct method names (`groupby` instead of `group_by`) and proper use of column names as strings.

### Conclusion

Proper use of DataFrame methods and handling errors involves understanding case sensitivity, accurate column names, and correct syntax. Adjusting code based on the exact names and methods is crucial for successful data manipulation and analysis.

---

Chatgpt Chat Box history link: https://chatgpt.com/share/e2788ba0-1005-42c7-bce9-974b131ccd56